In [21]:
import os
import pandas as pd
pd.set_option('display.max_columns', None)

path = "Selected/"

df_list = []
for filename in os.listdir(path):
    if filename.endswith(".csv"):
        filename_list = filename.split(".") #separate path from .csv
        df_name = filename_list[0]
        df = pd.read_csv(path+filename, error_bad_lines=False)
        df.name = df_name
        df_list.append(df_name)
        exec(df_name + ' = df')
        
print("Full list of dfs:")
print(df_list)

b'Skipping line 92: expected 64 fields, saw 66\nSkipping line 224: expected 64 fields, saw 68\nSkipping line 3152: expected 64 fields, saw 67\nSkipping line 3153: expected 64 fields, saw 67\nSkipping line 3164: expected 64 fields, saw 67\nSkipping line 3169: expected 64 fields, saw 67\nSkipping line 3180: expected 64 fields, saw 67\nSkipping line 3216: expected 64 fields, saw 67\nSkipping line 3256: expected 64 fields, saw 67\nSkipping line 3285: expected 64 fields, saw 67\nSkipping line 3340: expected 64 fields, saw 67\nSkipping line 3372: expected 64 fields, saw 67\nSkipping line 3391: expected 64 fields, saw 67\nSkipping line 3392: expected 64 fields, saw 67\nSkipping line 3396: expected 64 fields, saw 67\nSkipping line 3401: expected 64 fields, saw 67\nSkipping line 3408: expected 64 fields, saw 67\nSkipping line 3409: expected 64 fields, saw 67\nSkipping line 3411: expected 64 fields, saw 67\nSkipping line 5538: expected 64 fields, saw 65\nSkipping line 6258: expected 64 fields, saw 74\nSkipping line 6261: expected 64 fields, saw 74\nSkipping line 7550: expected 64 fields, saw 68\nSkipping line 7562: expected 64 fields, saw 65\nSkipping line 7590: expected 64 fields, saw 68\nSkipping line 7627: expected 64 fields, saw 66\nSkipping line 7654: expected 64 fields, saw 68\nSkipping line 7679: expected 64 fields, saw 67\nSkipping line 7719: expected 64 fields, saw 68\nSkipping line 7724: expected 64 fields, saw 66\nSkipping line 7767: expected 64 fields, saw 67\nSkipping line 7814: expected 64 fields, saw 67\nSkipping line 7870: expected 64 fields, saw 65\nSkipping line 7888: expected 64 fields, saw 68\n'
b'Skipping line 8701: expected 64 fields, saw 72\nSkipping line 9669: expected 64 fields, saw 65\nSkipping line 10852: expected 64 fields, saw 75\nSkipping line 12231: expected 64 fields, saw 67\nSkipping line 15476: expected 64 fields, saw 69\nSkipping line 15545: expected 64 fields, saw 68\n'
b'Skipping line 18315: expected 64 fields, saw 65\nSkipping line 19506: expected 64 fields, saw 66\nSkipping line 20488: expected 64 fields, saw 67\nSkipping line 20507: expected 64 fields, saw 65\nSkipping line 20519: expected 64 fields, saw 65\nSkipping line 20521: expected 64 fields, saw 65\nSkipping line 20575: expected 64 fields, saw 65\nSkipping line 20580: expected 64 fields, saw 65\nSkipping line 20599: expected 64 fields, saw 65\nSkipping line 20601: expected 64 fields, saw 65\nSkipping line 20603: expected 64 fields, saw 65\nSkipping line 20619: expected 64 fields, saw 65\nSkipping line 20631: expected 64 fields, saw 65\nSkipping line 20643: expected 64 fields, saw 65\nSkipping line 20718: expected 64 fields, saw 66\nSkipping line 20720: expected 64 fields, saw 66\nSkipping line 20821: expected 64 fields, saw 65\nSkipping line 20828: expected 64 fields, saw 65\nSkipping line 20834: expected 64 fields, saw 65\nSkipping line 20841: expected 64 fields, saw 65\nSkipping line 20843: expected 64 fields, saw 65\nSkipping line 20858: expected 64 fields, saw 65\nSkipping line 20864: expected 64 fields, saw 65\nSkipping line 20874: expected 64 fields, saw 65\nSkipping line 20877: expected 64 fields, saw 65\nSkipping line 20879: expected 64 fields, saw 65\nSkipping line 20881: expected 64 fields, saw 65\nSkipping line 22205: expected 64 fields, saw 68\nSkipping line 22207: expected 64 fields, saw 68\nSkipping line 24218: expected 64 fields, saw 66\nSkipping line 24488: expected 64 fields, saw 67\nSkipping line 24615: expected 64 fields, saw 65\n'
b'Skipping line 25236: expected 64 fields, saw 65\nSkipping line 25239: expected 64 fields, saw 65\nSkipping line 25288: expected 64 fields, saw 65\nSkipping line 25290: expected 64 fields, saw 65\nSkipping line 25298: expected 64 fields, saw 65\nSkipping line 31695: expected 64 fields, saw 78\n'
b'Skipping line 35550: expected 64 fields, saw 66\nSkipping line 40825: expected 64 fields, saw 67\n'
b'Skipping line 41221: expected 64 fields, saw 67\nSkipping line 41224: expected 64 fields, saw 67\nSkipping line 41240: expected 64 fields, saw 67\nSkipping line 41259: expected 64 fields, saw 67\nSkipping line 41261: expected 64 fields, saw 67\nSkipping line 41277: expected 64 fields, saw 67\nSkipping line 44150: expected 64 fields, saw 65\nSkipping line 44176: expected 64 fields, saw 65\nSkipping line 45977: expected 64 fields, saw 65\nSkipping line 46168: expected 64 fields, saw 65\nSkipping line 46988: expected 64 fields, saw 66\nSkipping line 48741: expected 64 fields, saw 66\n'
b'Skipping line 53126: expected 64 fields, saw 65\nSkipping line 53127: expected 64 fields, saw 65\nSkipping line 53596: expected 64 fields, saw 66\nSkipping line 53608: expected 64 fields, saw 66\n'
b'Skipping line 61917: expected 64 fields, saw 65\nSkipping line 62369: expected 64 fields, saw 66\nSkipping line 64898: expected 64 fields, saw 67\n'
b'Skipping line 66799: expected 64 fields, saw 66\nSkipping line 67017: expected 64 fields, saw 66\nSkipping line 67617: expected 64 fields, saw 67\nSkipping line 68116: expected 64 fields, saw 65\nSkipping line 68125: expected 64 fields, saw 65\nSkipping line 68148: expected 64 fields, saw 68\nSkipping line 68188: expected 64 fields, saw 66\nSkipping line 68190: expected 64 fields, saw 66\nSkipping line 68207: expected 64 fields, saw 65\nSkipping line 68251: expected 64 fields, saw 65\nSkipping line 68360: expected 64 fields, saw 67\nSkipping line 68362: expected 64 fields, saw 65\nSkipping line 68366: expected 64 fields, saw 65\nSkipping line 68485: expected 64 fields, saw 65\nSkipping line 68551: expected 64 fields, saw 65\nSkipping line 68623: expected 64 fields, saw 67\nSkipping line 68633: expected 64 fields, saw 66\nSkipping line 68640: expected 64 fields, saw 67\nSkipping line 68652: expected 64 fields, saw 65\nSkipping line 68685: expected 64 fields, saw 65\nSkipping line 68689: expected 64 fields, saw 65\nSkipping line 68768: expected 64 fields, saw 65\nSkipping line 68889: expected 64 fields, saw 67\nSkipping line 70444: expected 64 fields, saw 66\nSkipping line 70464: expected 64 fields, saw 67\nSkipping line 70519: expected 64 fields, saw 66\nSkipping line 70828: expected 64 fields, saw 66\nSkipping line 71640: expected 64 fields, saw 65\nSkipping line 71673: expected 64 fields, saw 65\n'
b'Skipping line 74278: expected 64 fields, saw 65\nSkipping line 74294: expected 64 fields, saw 65\nSkipping line 74304: expected 64 fields, saw 65\nSkipping line 74322: expected 64 fields, saw 65\nSkipping line 74337: expected 64 fields, saw 65\nSkipping line 74363: expected 64 fields, saw 65\nSkipping line 74396: expected 64 fields, saw 65\nSkipping line 74404: expected 64 fields, saw 65\nSkipping line 74444: expected 64 fields, saw 65\nSkipping line 74450: expected 64 fields, saw 65\nSkipping line 77949: expected 64 fields, saw 67\nSkipping line 79853: expected 64 fields, saw 65\nSkipping line 79866: expected 64 fields, saw 65\nSkipping line 80297: expected 64 fields, saw 66\nSkipping line 81119: expected 64 fields, saw 65\nSkipping line 81178: expected 64 fields, saw 65\nSkipping line 81226: expected 64 fields, saw 65\nSkipping line 81236: expected 64 fields, saw 65\nSkipping line 81249: expected 64 fields, saw 65\nSkipping line 81262: expected 64 fields, saw 65\n'
b'Skipping line 83034: expected 64 fields, saw 66\nSkipping line 84222: expected 64 fields, saw 65\nSkipping line 87574: expected 64 fields, saw 65\nSkipping line 87589: expected 64 fields, saw 65\nSkipping line 87605: expected 64 fields, saw 65\nSkipping line 89139: expected 64 fields, saw 66\n'
b'Skipping line 91120: expected 64 fields, saw 67\nSkipping line 91286: expected 64 fields, saw 65\nSkipping line 91309: expected 64 fields, saw 65\nSkipping line 91317: expected 64 fields, saw 65\nSkipping line 91473: expected 64 fields, saw 65\nSkipping line 94661: expected 64 fields, saw 65\nSkipping line 94662: expected 64 fields, saw 65\nSkipping line 96380: expected 64 fields, saw 65\n'
b'Skipping line 99051: expected 64 fields, saw 66\nSkipping line 105773: expected 64 fields, saw 67\n'
b'Skipping line 106809: expected 64 fields, saw 66\nSkipping line 106813: expected 64 fields, saw 65\nSkipping line 107151: expected 64 fields, saw 66\nSkipping line 107378: expected 64 fields, saw 65\nSkipping line 107449: expected 64 fields, saw 65\nSkipping line 107516: expected 64 fields, saw 65\nSkipping line 107557: expected 64 fields, saw 65\nSkipping line 107621: expected 64 fields, saw 65\nSkipping line 108097: expected 64 fields, saw 66\nSkipping line 108445: expected 64 fields, saw 65\nSkipping line 108446: expected 64 fields, saw 65\nSkipping line 108447: expected 64 fields, saw 65\nSkipping line 108448: expected 64 fields, saw 65\nSkipping line 108461: expected 64 fields, saw 65\nSkipping line 108462: expected 64 fields, saw 65\nSkipping line 108463: expected 64 fields, saw 65\nSkipping line 109476: expected 64 fields, saw 65\nSkipping line 109477: expected 64 fields, saw 65\nSkipping line 109479: expected 64 fields, saw 65\nSkipping line 110176: expected 64 fields, saw 65\nSkipping line 110189: expected 64 fields, saw 65\nSkipping line 110190: expected 64 fields, saw 65\n'
b'Skipping line 115202: expected 64 fields, saw 67\nSkipping line 115232: expected 64 fields, saw 67\nSkipping line 118714: expected 64 fields, saw 65\nSkipping line 118715: expected 64 fields, saw 65\nSkipping line 120363: expected 64 fields, saw 65\n'
b'Skipping line 125737: expected 64 fields, saw 66\nSkipping line 127933: expected 64 fields, saw 66\nSkipping line 128048: expected 64 fields, saw 66\nSkipping line 129780: expected 64 fields, saw 70\n'

b'Skipping line 131698: expected 64 fields, saw 67\nSkipping line 131844: expected 64 fields, saw 67\nSkipping line 132048: expected 64 fields, saw 65\nSkipping line 132053: expected 64 fields, saw 65\nSkipping line 132105: expected 64 fields, saw 65\nSkipping line 132135: expected 64 fields, saw 65\nSkipping line 132173: expected 64 fields, saw 65\nSkipping line 132228: expected 64 fields, saw 65\nSkipping line 132229: expected 64 fields, saw 65\nSkipping line 132260: expected 64 fields, saw 65\nSkipping line 132312: expected 64 fields, saw 65\nSkipping line 132392: expected 64 fields, saw 65\nSkipping line 132430: expected 64 fields, saw 65\nSkipping line 132449: expected 64 fields, saw 65\nSkipping line 132547: expected 64 fields, saw 65\nSkipping line 132605: expected 64 fields, saw 65\nSkipping line 133756: expected 64 fields, saw 65\nSkipping line 133759: expected 64 fields, saw 65\nSkipping line 133835: expected 64 fields, saw 65\nSkipping line 133850: expected 64 fields, saw 65\nSkipping line 134381: expected 64 fields, saw 66\nSkipping line 134399: expected 64 fields, saw 66\nSkipping line 134451: expected 64 fields, saw 66\nSkipping line 134457: expected 64 fields, saw 66\nSkipping line 134460: expected 64 fields, saw 66\nSkipping line 134462: expected 64 fields, saw 66\nSkipping line 134472: expected 64 fields, saw 66\nSkipping line 134476: expected 64 fields, saw 66\nSkipping line 134479: expected 64 fields, saw 66\nSkipping line 134505: expected 64 fields, saw 66\nSkipping line 134533: expected 64 fields, saw 65\nSkipping line 134535: expected 64 fields, saw 66\nSkipping line 134556: expected 64 fields, saw 66\nSkipping line 134566: expected 64 fields, saw 67\nSkipping line 134568: expected 64 fields, saw 67\nSkipping line 134569: expected 64 fields, saw 67\nSkipping line 134570: expected 64 fields, saw 67\nSkipping line 134572: expected 64 fields, saw 67\nSkipping line 134573: expected 64 fields, saw 67\nSkipping line 134574: expected 64 fields, saw 67\nSkipping line 134578: expected 64 fields, saw 67\nSkipping line 134581: expected 64 fields, saw 67\nSkipping line 134585: expected 64 fields, saw 67\nSkipping line 134589: expected 64 fields, saw 67\nSkipping line 134591: expected 64 fields, saw 67\nSkipping line 134595: expected 64 fields, saw 67\nSkipping line 134596: expected 64 fields, saw 67\nSkipping line 134601: expected 64 fields, saw 67\nSkipping line 134608: expected 64 fields, saw 67\nSkipping line 134624: expected 64 fields, saw 65\nSkipping line 134629: expected 64 fields, saw 67\nSkipping line 134634: expected 64 fields, saw 65\nSkipping line 134635: expected 64 fields, saw 65\nSkipping line 134636: expected 64 fields, saw 65\nSkipping line 134638: expected 64 fields, saw 65\nSkipping line 134666: expected 64 fields, saw 65\nSkipping line 134709: expected 64 fields, saw 65\nSkipping line 134713: expected 64 fields, saw 65\nSkipping line 134727: expected 64 fields, saw 65\nSkipping line 134728: expected 64 fields, saw 65\nSkipping line 134735: expected 64 fields, saw 65\nSkipping line 134736: expected 64 fields, saw 65\nSkipping line 134743: expected 64 fields, saw 65\nSkipping line 134839: expected 64 fields, saw 66\nSkipping line 134847: expected 64 fields, saw 67\nSkipping line 136095: expected 64 fields, saw 65\nSkipping line 136107: expected 64 fields, saw 65\nSkipping line 136120: expected 64 fields, saw 65\nSkipping line 136123: expected 64 fields, saw 65\nSkipping line 136212: expected 64 fields, saw 65\nSkipping line 136382: expected 64 fields, saw 65\nSkipping line 136627: expected 64 fields, saw 65\nSkipping line 136743: expected 64 fields, saw 65\nSkipping line 136784: expected 64 fields, saw 65\nSkipping line 136851: expected 64 fields, saw 65\nSkipping line 136963: expected 64 fields, saw 65\nSkipping line 137013: expected 64 fields, saw 65\nSkipping line 137055: expected 64 fields, saw 65\nSkipping line 137106: expected 64 fields, saw 65\nSkipping line 137114: expected 64 fields, saw 65\nSkipping line 137165: expected 64 fields, saw 67\nSkipping line 138364: expected 64 fields, saw 66\nSkipping line 138709: expected 64 fields, saw 68\nSkipping line 138799: expected 64 fields, saw 66\nSkipping line 138971: expected 64 fields, saw 66\nSkipping line 138982: expected 64 fields, saw 66\nSkipping line 138992: expected 64 fields, saw 66\nSkipping line 139001: expected 64 fields, saw 66\nSkipping line 139324: expected 64 fields, saw 66\n'
b'Skipping line 141425: expected 64 fields, saw 65\nSkipping line 141426: expected 64 fields, saw 65\nSkipping line 141427: expected 64 fields, saw 65\nSkipping line 141459: expected 64 fields, saw 65\nSkipping line 141526: expected 64 fields, saw 65\nSkipping line 141541: expected 64 fields, saw 65\nSkipping line 141780: expected 64 fields, saw 67\nSkipping line 141783: expected 64 fields, saw 67\nSkipping line 142459: expected 64 fields, saw 66\nSkipping line 142461: expected 64 fields, saw 66\nSkipping line 142466: expected 64 fields, saw 66\nSkipping line 142474: expected 64 fields, saw 66\nSkipping line 142611: expected 64 fields, saw 66\nSkipping line 143918: expected 64 fields, saw 65\nSkipping line 144049: expected 64 fields, saw 65\n'
b'Skipping line 149587: expected 64 fields, saw 65\nSkipping line 149794: expected 64 fields, saw 67\nSkipping line 151151: expected 64 fields, saw 65\nSkipping line 151371: expected 64 fields, saw 65\nSkipping line 152039: expected 64 fields, saw 68\nSkipping line 152041: expected 64 fields, saw 68\nSkipping line 152052: expected 64 fields, saw 68\nSkipping line 152053: expected 64 fields, saw 68\nSkipping line 152070: expected 64 fields, saw 68\nSkipping line 152084: expected 64 fields, saw 68\nSkipping line 152145: expected 64 fields, saw 66\nSkipping line 152806: expected 64 fields, saw 65\nSkipping line 152952: expected 64 fields, saw 66\nSkipping line 153005: expected 64 fields, saw 65\nSkipping line 153033: expected 64 fields, saw 66\nSkipping line 155609: expected 64 fields, saw 65\n'
b'Skipping line 158201: expected 64 fields, saw 65\nSkipping line 163839: expected 64 fields, saw 66\n'
b'Skipping line 167353: expected 64 fields, saw 67\nSkipping line 167398: expected 64 fields, saw 67\nSkipping line 167429: expected 64 fields, saw 67\nSkipping line 167430: expected 64 fields, saw 67\nSkipping line 167444: expected 64 fields, saw 67\nSkipping line 167460: expected 64 fields, saw 67\nSkipping line 167476: expected 64 fields, saw 67\nSkipping line 167564: expected 64 fields, saw 66\nSkipping line 171730: expected 64 fields, saw 66\n'
b'Skipping line 176257: expected 64 fields, saw 65\nSkipping line 177874: expected 64 fields, saw 67\nSkipping line 178526: expected 64 fields, saw 67\nSkipping line 178580: expected 64 fields, saw 67\n'
b'Skipping line 180982: expected 64 fields, saw 67\nSkipping line 181530: expected 64 fields, saw 65\nSkipping line 181581: expected 64 fields, saw 66\nSkipping line 181593: expected 64 fields, saw 66\nSkipping line 182423: expected 64 fields, saw 66\nSkipping line 186277: expected 64 fields, saw 65\n'
b'Skipping line 189908: expected 64 fields, saw 67\nSkipping line 189923: expected 64 fields, saw 67\nSkipping line 189934: expected 64 fields, saw 67\nSkipping line 189936: expected 64 fields, saw 67\nSkipping line 190006: expected 64 fields, saw 67\nSkipping line 190049: expected 64 fields, saw 67\nSkipping line 191522: expected 64 fields, saw 67\nSkipping line 192217: expected 64 fields, saw 67\nSkipping line 192232: expected 64 fields, saw 67\nSkipping line 192300: expected 64 fields, saw 67\nSkipping line 192585: expected 64 fields, saw 67\nSkipping line 192594: expected 64 fields, saw 67\nSkipping line 193094: expected 64 fields, saw 67\nSkipping line 193121: expected 64 fields, saw 67\nSkipping line 193145: expected 64 fields, saw 67\nSkipping line 193200: expected 64 fields, saw 67\nSkipping line 193206: expected 64 fields, saw 67\nSkipping line 193210: expected 64 fields, saw 67\nSkipping line 193287: expected 64 fields, saw 67\nSkipping line 193297: expected 64 fields, saw 67\nSkipping line 193686: expected 64 fields, saw 67\nSkipping line 193687: expected 64 fields, saw 67\nSkipping line 193751: expected 64 fields, saw 67\nSkipping line 193761: expected 64 fields, saw 67\nSkipping line 193762: expected 64 fields, saw 67\nSkipping line 193788: expected 64 fields, saw 67\nSkipping line 193807: expected 64 fields, saw 67\nSkipping line 193927: expected 64 fields, saw 67\nSkipping line 194252: expected 64 fields, saw 67\nSkipping line 194554: expected 64 fields, saw 71\nSkipping line 194714: expected 64 fields, saw 67\nSkipping line 194737: expected 64 fields, saw 67\nSkipping line 194834: expected 64 fields, saw 67\nSkipping line 194926: expected 64 fields, saw 67\nSkipping line 194927: expected 64 fields, saw 67\nSkipping line 194939: expected 64 fields, saw 67\nSkipping line 194941: expected 64 fields, saw 67\nSkipping line 195594: expected 64 fields, saw 67\nSkipping line 195860: expected 64 fields, saw 67\nSkipping line 196060: expected 64 fields, saw 67\nSkipping line 196071: expected 64 fields, saw 67\nSkipping line 196715: expected 64 fields, saw 67\nSkipping line 196728: expected 64 fields, saw 67\nSkipping line 196776: expected 64 fields, saw 67\nSkipping line 196795: expected 64 fields, saw 67\n'
b'Skipping line 197213: expected 64 fields, saw 65\nSkipping line 197215: expected 64 fields, saw 67\nSkipping line 197238: expected 64 fields, saw 67\nSkipping line 198305: expected 64 fields, saw 67\nSkipping line 198334: expected 64 fields, saw 67\nSkipping line 198349: expected 64 fields, saw 67\nSkipping line 198394: expected 64 fields, saw 65\nSkipping line 198410: expected 64 fields, saw 67\nSkipping line 198420: expected 64 fields, saw 65\nSkipping line 198426: expected 64 fields, saw 67\nSkipping line 198710: expected 64 fields, saw 67\nSkipping line 198819: expected 64 fields, saw 67\nSkipping line 198851: expected 64 fields, saw 67\nSkipping line 199160: expected 64 fields, saw 66\nSkipping line 199812: expected 64 fields, saw 67\nSkipping line 200475: expected 64 fields, saw 67\nSkipping line 201088: expected 64 fields, saw 67\nSkipping line 201117: expected 64 fields, saw 67\nSkipping line 201121: expected 64 fields, saw 67\nSkipping line 201133: expected 64 fields, saw 67\nSkipping line 201135: expected 64 fields, saw 67\nSkipping line 201146: expected 64 fields, saw 67\nSkipping line 201534: expected 64 fields, saw 67\nSkipping line 201908: expected 64 fields, saw 67\nSkipping line 202381: expected 64 fields, saw 67\nSkipping line 202639: expected 64 fields, saw 65\nSkipping line 202640: expected 64 fields, saw 65\nSkipping line 202838: expected 64 fields, saw 65\nSkipping line 202869: expected 64 fields, saw 67\nSkipping line 202923: expected 64 fields, saw 67\nSkipping line 203281: expected 64 fields, saw 65\nSkipping line 203764: expected 64 fields, saw 66\nSkipping line 203921: expected 64 fields, saw 65\nSkipping line 204454: expected 64 fields, saw 65\nSkipping line 204479: expected 64 fields, saw 65\nSkipping line 204480: expected 64 fields, saw 65\nSkipping line 204830: expected 64 fields, saw 67\nSkipping line 204861: expected 64 fields, saw 67\nSkipping line 204879: expected 64 fields, saw 67\nSkipping line 205047: expected 64 fields, saw 67\nSkipping line 205144: expected 64 fields, saw 67\nSkipping line 205220: expected 64 fields, saw 67\n'

b'Skipping line 205331: expected 64 fields, saw 65\nSkipping line 205334: expected 64 fields, saw 65\nSkipping line 205338: expected 64 fields, saw 65\nSkipping line 205344: expected 64 fields, saw 65\nSkipping line 205346: expected 64 fields, saw 65\nSkipping line 205350: expected 64 fields, saw 65\nSkipping line 205354: expected 64 fields, saw 65\nSkipping line 205360: expected 64 fields, saw 65\nSkipping line 205372: expected 64 fields, saw 65\nSkipping line 205378: expected 64 fields, saw 65\nSkipping line 205380: expected 64 fields, saw 65\nSkipping line 205388: expected 64 fields, saw 65\nSkipping line 205399: expected 64 fields, saw 65\nSkipping line 205400: expected 64 fields, saw 65\nSkipping line 205706: expected 64 fields, saw 67\nSkipping line 205956: expected 64 fields, saw 65\nSkipping line 205959: expected 64 fields, saw 65\nSkipping line 205963: expected 64 fields, saw 65\nSkipping line 205986: expected 64 fields, saw 65\nSkipping line 205988: expected 64 fields, saw 65\nSkipping line 205995: expected 64 fields, saw 65\nSkipping line 205999: expected 64 fields, saw 65\nSkipping line 206009: expected 64 fields, saw 65\nSkipping line 206017: expected 64 fields, saw 65\nSkipping line 206025: expected 64 fields, saw 65\nSkipping line 206027: expected 64 fields, saw 65\nSkipping line 206031: expected 64 fields, saw 65\nSkipping line 206040: expected 64 fields, saw 65\nSkipping line 206041: expected 64 fields, saw 65\nSkipping line 206997: expected 64 fields, saw 67\nSkipping line 211289: expected 64 fields, saw 66\nSkipping line 211534: expected 64 fields, saw 67\nSkipping line 211537: expected 64 fields, saw 67\n'
b'Skipping line 214120: expected 64 fields, saw 68\nSkipping line 214122: expected 64 fields, saw 68\nSkipping line 214123: expected 64 fields, saw 68\nSkipping line 214127: expected 64 fields, saw 68\nSkipping line 214133: expected 64 fields, saw 68\nSkipping line 214146: expected 64 fields, saw 68\nSkipping line 214154: expected 64 fields, saw 68\nSkipping line 214170: expected 64 fields, saw 68\nSkipping line 214172: expected 64 fields, saw 68\nSkipping line 214229: expected 64 fields, saw 68\nSkipping line 214230: expected 64 fields, saw 68\nSkipping line 215113: expected 64 fields, saw 65\nSkipping line 215562: expected 64 fields, saw 65\nSkipping line 215969: expected 64 fields, saw 68\nSkipping line 215972: expected 64 fields, saw 68\nSkipping line 217063: expected 64 fields, saw 65\nSkipping line 218966: expected 64 fields, saw 67\nSkipping line 220136: expected 64 fields, saw 66\nSkipping line 220556: expected 64 fields, saw 65\nSkipping line 221457: expected 64 fields, saw 65\n'
b'Skipping line 225432: expected 64 fields, saw 65\nSkipping line 225614: expected 64 fields, saw 66\nSkipping line 226608: expected 64 fields, saw 67\n'
b'Skipping line 230650: expected 64 fields, saw 65\n'
b'Skipping line 242893: expected 64 fields, saw 65\nSkipping line 243536: expected 64 fields, saw 65\nSkipping line 243537: expected 64 fields, saw 65\nSkipping line 244093: expected 64 fields, saw 65\nSkipping line 244094: expected 64 fields, saw 65\nSkipping line 244632: expected 64 fields, saw 66\n'
b'Skipping line 248100: expected 64 fields, saw 68\nSkipping line 248104: expected 64 fields, saw 68\nSkipping line 248105: expected 64 fields, saw 68\nSkipping line 248107: expected 64 fields, saw 68\nSkipping line 248110: expected 64 fields, saw 68\nSkipping line 251003: expected 64 fields, saw 67\nSkipping line 253509: expected 64 fields, saw 65\nSkipping line 253693: expected 64 fields, saw 65\nSkipping line 254411: expected 64 fields, saw 65\nSkipping line 254413: expected 64 fields, saw 65\n'
b'Skipping line 255102: expected 64 fields, saw 67\nSkipping line 256333: expected 64 fields, saw 67\nSkipping line 256334: expected 64 fields, saw 67\nSkipping line 256336: expected 64 fields, saw 67\nSkipping line 256337: expected 64 fields, saw 67\nSkipping line 256339: expected 64 fields, saw 67\nSkipping line 256340: expected 64 fields, saw 67\nSkipping line 256341: expected 64 fields, saw 67\nSkipping line 256342: expected 64 fields, saw 67\nSkipping line 256343: expected 64 fields, saw 67\nSkipping line 256345: expected 64 fields, saw 67\nSkipping line 256346: expected 64 fields, saw 67\nSkipping line 256347: expected 64 fields, saw 67\nSkipping line 256348: expected 64 fields, saw 67\nSkipping line 256349: expected 64 fields, saw 67\nSkipping line 256350: expected 64 fields, saw 67\nSkipping line 256351: expected 64 fields, saw 67\nSkipping line 256352: expected 64 fields, saw 67\nSkipping line 256355: expected 64 fields, saw 67\nSkipping line 256356: expected 64 fields, saw 67\nSkipping line 256357: expected 64 fields, saw 67\nSkipping line 256358: expected 64 fields, saw 67\nSkipping line 256359: expected 64 fields, saw 67\nSkipping line 256360: expected 64 fields, saw 67\nSkipping line 256362: expected 64 fields, saw 67\nSkipping line 256363: expected 64 fields, saw 67\nSkipping line 256364: expected 64 fields, saw 67\nSkipping line 256369: expected 64 fields, saw 67\nSkipping line 256370: expected 64 fields, saw 67\nSkipping line 256372: expected 64 fields, saw 67\nSkipping line 256373: expected 64 fields, saw 67\nSkipping line 256375: expected 64 fields, saw 67\nSkipping line 256446: expected 64 fields, saw 67\nSkipping line 256447: expected 64 fields, saw 67\nSkipping line 256448: expected 64 fields, saw 67\nSkipping line 256456: expected 64 fields, saw 67\nSkipping line 256457: expected 64 fields, saw 67\nSkipping line 256458: expected 64 fields, saw 67\nSkipping line 256460: expected 64 fields, saw 67\nSkipping line 256461: expected 64 fields, saw 67\nSkipping line 256462: expected 64 fields, saw 67\nSkipping line 258291: expected 64 fields, saw 66\nSkipping line 258477: expected 64 fields, saw 67\nSkipping line 259050: expected 64 fields, saw 66\n'
b'Skipping line 266082: expected 64 fields, saw 67\nSkipping line 266218: expected 64 fields, saw 66\nSkipping line 268311: expected 64 fields, saw 67\nSkipping line 268505: expected 64 fields, saw 67\nSkipping line 268625: expected 64 fields, saw 67\n'
b'Skipping line 271221: expected 64 fields, saw 65\nSkipping line 278193: expected 64 fields, saw 67\nSkipping line 278236: expected 64 fields, saw 67\n'
b'Skipping line 283321: expected 64 fields, saw 66\nSkipping line 283324: expected 64 fields, saw 66\nSkipping line 283326: expected 64 fields, saw 66\nSkipping line 283327: expected 64 fields, saw 66\nSkipping line 283328: expected 64 fields, saw 66\nSkipping line 283329: expected 64 fields, saw 66\nSkipping line 283331: expected 64 fields, saw 66\nSkipping line 283333: expected 64 fields, saw 66\nSkipping line 283334: expected 64 fields, saw 66\nSkipping line 283335: expected 64 fields, saw 66\nSkipping line 283352: expected 64 fields, saw 66\nSkipping line 283359: expected 64 fields, saw 66\nSkipping line 283387: expected 64 fields, saw 66\nSkipping line 283393: expected 64 fields, saw 66\nSkipping line 283400: expected 64 fields, saw 66\nSkipping line 283409: expected 64 fields, saw 66\nSkipping line 283417: expected 64 fields, saw 66\nSkipping line 283422: expected 64 fields, saw 66\nSkipping line 283423: expected 64 fields, saw 66\nSkipping line 283436: expected 64 fields, saw 66\nSkipping line 283439: expected 64 fields, saw 66\nSkipping line 283451: expected 64 fields, saw 66\nSkipping line 283469: expected 64 fields, saw 66\nSkipping line 283497: expected 64 fields, saw 66\nSkipping line 283511: expected 64 fields, saw 66\nSkipping line 283512: expected 64 fields, saw 66\nSkipping line 283513: expected 64 fields, saw 66\nSkipping line 283539: expected 64 fields, saw 66\nSkipping line 283540: expected 64 fields, saw 66\nSkipping line 283541: expected 64 fields, saw 66\nSkipping line 283555: expected 64 fields, saw 66\nSkipping line 283556: expected 64 fields, saw 66\nSkipping line 283559: expected 64 fields, saw 66\nSkipping line 283561: expected 64 fields, saw 66\nSkipping line 283562: expected 64 fields, saw 66\nSkipping line 283601: expected 64 fields, saw 66\nSkipping line 283603: expected 64 fields, saw 66\nSkipping line 283616: expected 64 fields, saw 66\nSkipping line 283617: expected 64 fields, saw 66\nSkipping line 283624: expected 64 fields, saw 66\nSkipping line 283626: expected 64 fields, saw 66\nSkipping line 283627: expected 64 fields, saw 66\nSkipping line 283628: expected 64 fields, saw 66\nSkipping line 283638: expected 64 fields, saw 66\nSkipping line 283646: expected 64 fields, saw 66\nSkipping line 283647: expected 64 fields, saw 66\nSkipping line 283677: expected 64 fields, saw 66\nSkipping line 283678: expected 64 fields, saw 66\nSkipping line 283680: expected 64 fields, saw 66\nSkipping line 283687: expected 64 fields, saw 66\nSkipping line 283688: expected 64 fields, saw 66\nSkipping line 283691: expected 64 fields, saw 66\nSkipping line 283699: expected 64 fields, saw 66\nSkipping line 283965: expected 64 fields, saw 66\n'

b'Skipping line 289168: expected 64 fields, saw 65\nSkipping line 290597: expected 64 fields, saw 66\nSkipping line 290614: expected 64 fields, saw 66\nSkipping line 290690: expected 64 fields, saw 66\nSkipping line 290691: expected 64 fields, saw 66\nSkipping line 290693: expected 64 fields, saw 66\nSkipping line 290694: expected 64 fields, saw 66\nSkipping line 290708: expected 64 fields, saw 66\nSkipping line 290736: expected 64 fields, saw 66\n'
b'Skipping line 299615: expected 64 fields, saw 65\nSkipping line 301642: expected 64 fields, saw 65\nSkipping line 303250: expected 64 fields, saw 67\n'
b'Skipping line 304634: expected 64 fields, saw 65\nSkipping line 304649: expected 64 fields, saw 65\nSkipping line 304651: expected 64 fields, saw 65\nSkipping line 306881: expected 64 fields, saw 67\nSkipping line 306883: expected 64 fields, saw 67\nSkipping line 306887: expected 64 fields, saw 67\nSkipping line 306889: expected 64 fields, saw 67\nSkipping line 306891: expected 64 fields, saw 67\nSkipping line 306901: expected 64 fields, saw 67\nSkipping line 306908: expected 64 fields, saw 67\nSkipping line 306916: expected 64 fields, saw 67\nSkipping line 306927: expected 64 fields, saw 67\nSkipping line 306937: expected 64 fields, saw 67\nSkipping line 306945: expected 64 fields, saw 67\nSkipping line 306946: expected 64 fields, saw 67\nSkipping line 306949: expected 64 fields, saw 67\nSkipping line 306950: expected 64 fields, saw 67\nSkipping line 306953: expected 64 fields, saw 67\nSkipping line 306958: expected 64 fields, saw 67\nSkipping line 306963: expected 64 fields, saw 67\nSkipping line 306965: expected 64 fields, saw 67\nSkipping line 307781: expected 64 fields, saw 67\nSkipping line 309089: expected 64 fields, saw 67\nSkipping line 310493: expected 64 fields, saw 65\nSkipping line 310494: expected 64 fields, saw 65\n'
b'Skipping line 314697: expected 64 fields, saw 65\nSkipping line 315250: expected 64 fields, saw 65\nSkipping line 318650: expected 64 fields, saw 65\nSkipping line 318753: expected 64 fields, saw 65\nSkipping line 319699: expected 64 fields, saw 65\n'
b'Skipping line 322320: expected 64 fields, saw 65\nSkipping line 322864: expected 64 fields, saw 65\nSkipping line 324635: expected 64 fields, saw 65\nSkipping line 324666: expected 64 fields, saw 65\n'
b'Skipping line 329189: expected 64 fields, saw 65\nSkipping line 329937: expected 64 fields, saw 66\nSkipping line 329938: expected 64 fields, saw 66\nSkipping line 330532: expected 64 fields, saw 66\nSkipping line 330541: expected 64 fields, saw 66\nSkipping line 330542: expected 64 fields, saw 66\nSkipping line 330545: expected 64 fields, saw 66\nSkipping line 330610: expected 64 fields, saw 66\nSkipping line 331253: expected 64 fields, saw 66\nSkipping line 331362: expected 64 fields, saw 66\nSkipping line 331490: expected 64 fields, saw 65\nSkipping line 331491: expected 64 fields, saw 65\nSkipping line 332393: expected 64 fields, saw 66\nSkipping line 332434: expected 64 fields, saw 66\nSkipping line 332469: expected 64 fields, saw 65\nSkipping line 332470: expected 64 fields, saw 65\nSkipping line 332487: expected 64 fields, saw 66\nSkipping line 332495: expected 64 fields, saw 66\nSkipping line 332496: expected 64 fields, saw 66\nSkipping line 332517: expected 64 fields, saw 66\nSkipping line 332519: expected 64 fields, saw 66\nSkipping line 332522: expected 64 fields, saw 66\nSkipping line 332528: expected 64 fields, saw 66\nSkipping line 332529: expected 64 fields, saw 66\nSkipping line 332539: expected 64 fields, saw 66\nSkipping line 332671: expected 64 fields, saw 66\nSkipping line 332676: expected 64 fields, saw 66\nSkipping line 333081: expected 64 fields, saw 67\nSkipping line 333093: expected 64 fields, saw 67\nSkipping line 333121: expected 64 fields, saw 67\nSkipping line 333122: expected 64 fields, saw 67\nSkipping line 333123: expected 64 fields, saw 67\nSkipping line 333138: expected 64 fields, saw 67\nSkipping line 333153: expected 64 fields, saw 67\nSkipping line 333154: expected 64 fields, saw 67\nSkipping line 333264: expected 64 fields, saw 67\nSkipping line 333272: expected 64 fields, saw 67\nSkipping line 333278: expected 64 fields, saw 67\nSkipping line 333281: expected 64 fields, saw 67\nSkipping line 333282: expected 64 fields, saw 67\nSkipping line 333303: expected 64 fields, saw 67\nSkipping line 333314: expected 64 fields, saw 67\nSkipping line 333336: expected 64 fields, saw 67\nSkipping line 333391: expected 64 fields, saw 67\nSkipping line 333394: expected 64 fields, saw 67\nSkipping line 333411: expected 64 fields, saw 67\nSkipping line 333413: expected 64 fields, saw 67\nSkipping line 333476: expected 64 fields, saw 67\nSkipping line 333501: expected 64 fields, saw 67\nSkipping line 333519: expected 64 fields, saw 67\n'
b'Skipping line 337850: expected 64 fields, saw 65\nSkipping line 337948: expected 64 fields, saw 65\nSkipping line 338736: expected 64 fields, saw 66\nSkipping line 338889: expected 64 fields, saw 66\nSkipping line 338926: expected 64 fields, saw 66\nSkipping line 338933: expected 64 fields, saw 66\nSkipping line 339943: expected 64 fields, saw 65\nSkipping line 342989: expected 64 fields, saw 66\nSkipping line 344679: expected 64 fields, saw 72\nSkipping line 344747: expected 64 fields, saw 66\n'
b'Skipping line 344894: expected 64 fields, saw 66\nSkipping line 346139: expected 64 fields, saw 67\nSkipping line 346155: expected 64 fields, saw 67\nSkipping line 348017: expected 64 fields, saw 66\nSkipping line 348136: expected 64 fields, saw 66\nSkipping line 350169: expected 64 fields, saw 65\nSkipping line 350198: expected 64 fields, saw 65\nSkipping line 350615: expected 64 fields, saw 66\nSkipping line 351967: expected 64 fields, saw 66\nSkipping line 351968: expected 64 fields, saw 66\nSkipping line 352004: expected 64 fields, saw 69\nSkipping line 352700: expected 64 fields, saw 66\n'
b'Skipping line 353673: expected 64 fields, saw 66\nSkipping line 353699: expected 64 fields, saw 66\n'
b'Skipping line 362095: expected 64 fields, saw 66\nSkipping line 364253: expected 64 fields, saw 67\nSkipping line 364263: expected 64 fields, saw 67\nSkipping line 364276: expected 64 fields, saw 67\nSkipping line 366917: expected 64 fields, saw 65\nSkipping line 367790: expected 64 fields, saw 67\nSkipping line 367896: expected 64 fields, saw 67\nSkipping line 367900: expected 64 fields, saw 67\nSkipping line 367901: expected 64 fields, saw 67\nSkipping line 367905: expected 64 fields, saw 67\nSkipping line 367908: expected 64 fields, saw 67\nSkipping line 367912: expected 64 fields, saw 67\nSkipping line 367914: expected 64 fields, saw 67\nSkipping line 367915: expected 64 fields, saw 67\nSkipping line 367921: expected 64 fields, saw 67\nSkipping line 367935: expected 64 fields, saw 67\nSkipping line 367943: expected 64 fields, saw 67\nSkipping line 367949: expected 64 fields, saw 67\nSkipping line 367963: expected 64 fields, saw 67\nSkipping line 367965: expected 64 fields, saw 67\nSkipping line 367966: expected 64 fields, saw 67\nSkipping line 367971: expected 64 fields, saw 67\nSkipping line 367973: expected 64 fields, saw 67\nSkipping line 367977: expected 64 fields, saw 67\nSkipping line 367981: expected 64 fields, saw 67\nSkipping line 367983: expected 64 fields, saw 67\nSkipping line 367987: expected 64 fields, saw 67\nSkipping line 367991: expected 64 fields, saw 67\nSkipping line 367995: expected 64 fields, saw 67\nSkipping line 368001: expected 64 fields, saw 67\nSkipping line 368011: expected 64 fields, saw 67\nSkipping line 368012: expected 64 fields, saw 67\nSkipping line 368021: expected 64 fields, saw 67\nSkipping line 368024: expected 64 fields, saw 67\nSkipping line 368030: expected 64 fields, saw 67\nSkipping line 368032: expected 64 fields, saw 67\nSkipping line 368041: expected 64 fields, saw 67\nSkipping line 368044: expected 64 fields, saw 67\nSkipping line 368051: expected 64 fields, saw 67\nSkipping line 368054: expected 64 fields, saw 67\nSkipping line 368055: expected 64 fields, saw 67\nSkipping line 368057: expected 64 fields, saw 67\nSkipping line 368072: expected 64 fields, saw 67\nSkipping line 368080: expected 64 fields, saw 67\nSkipping line 368083: expected 64 fields, saw 67\nSkipping line 368090: expected 64 fields, saw 67\nSkipping line 368091: expected 64 fields, saw 67\nSkipping line 368092: expected 64 fields, saw 67\nSkipping line 368106: expected 64 fields, saw 67\nSkipping line 368121: expected 64 fields, saw 67\nSkipping line 368125: expected 64 fields, saw 67\nSkipping line 368129: expected 64 fields, saw 67\nSkipping line 368133: expected 64 fields, saw 67\nSkipping line 368141: expected 64 fields, saw 67\nSkipping line 368147: expected 64 fields, saw 67\nSkipping line 368150: expected 64 fields, saw 67\nSkipping line 368154: expected 64 fields, saw 67\nSkipping line 368155: expected 64 fields, saw 67\nSkipping line 368158: expected 64 fields, saw 67\nSkipping line 368159: expected 64 fields, saw 67\nSkipping line 368160: expected 64 fields, saw 67\nSkipping line 368164: expected 64 fields, saw 67\nSkipping line 368169: expected 64 fields, saw 67\nSkipping line 368178: expected 64 fields, saw 67\nSkipping line 368191: expected 64 fields, saw 67\nSkipping line 368197: expected 64 fields, saw 67\nSkipping line 368199: expected 64 fields, saw 67\nSkipping line 368201: expected 64 fields, saw 67\nSkipping line 368205: expected 64 fields, saw 67\nSkipping line 368206: expected 64 fields, saw 67\n'

b'Skipping line 370958: expected 64 fields, saw 65\nSkipping line 370959: expected 64 fields, saw 65\nSkipping line 370961: expected 64 fields, saw 65\nSkipping line 370962: expected 64 fields, saw 65\nSkipping line 370963: expected 64 fields, saw 65\nSkipping line 370964: expected 64 fields, saw 65\nSkipping line 370970: expected 64 fields, saw 65\nSkipping line 370971: expected 64 fields, saw 65\nSkipping line 370978: expected 64 fields, saw 65\nSkipping line 370980: expected 64 fields, saw 65\nSkipping line 371393: expected 64 fields, saw 65\nSkipping line 371394: expected 64 fields, saw 71\nSkipping line 375513: expected 64 fields, saw 65\nSkipping line 375514: expected 64 fields, saw 65\nSkipping line 376429: expected 64 fields, saw 65\nSkipping line 376430: expected 64 fields, saw 65\nSkipping line 376431: expected 64 fields, saw 67\n'
b'Skipping line 377713: expected 64 fields, saw 65\nSkipping line 379185: expected 64 fields, saw 66\nSkipping line 379189: expected 64 fields, saw 66\nSkipping line 379197: expected 64 fields, saw 66\nSkipping line 379210: expected 64 fields, saw 66\nSkipping line 379218: expected 64 fields, saw 66\nSkipping line 379221: expected 64 fields, saw 66\nSkipping line 380015: expected 64 fields, saw 65\nSkipping line 382219: expected 64 fields, saw 67\nSkipping line 382256: expected 64 fields, saw 67\nSkipping line 382272: expected 64 fields, saw 67\nSkipping line 382351: expected 64 fields, saw 67\nSkipping line 382362: expected 64 fields, saw 67\nSkipping line 382621: expected 64 fields, saw 67\nSkipping line 382622: expected 64 fields, saw 67\nSkipping line 382623: expected 64 fields, saw 67\nSkipping line 382760: expected 64 fields, saw 67\nSkipping line 382797: expected 64 fields, saw 67\nSkipping line 382813: expected 64 fields, saw 67\nSkipping line 382893: expected 64 fields, saw 67\nSkipping line 382904: expected 64 fields, saw 67\nSkipping line 383210: expected 64 fields, saw 67\nSkipping line 383211: expected 64 fields, saw 67\nSkipping line 383212: expected 64 fields, saw 67\nSkipping line 383213: expected 64 fields, saw 67\nSkipping line 383217: expected 64 fields, saw 65\nSkipping line 383218: expected 64 fields, saw 65\nSkipping line 383219: expected 64 fields, saw 65\nSkipping line 383400: expected 64 fields, saw 65\nSkipping line 384171: expected 64 fields, saw 65\n'
b'Skipping line 387216: expected 64 fields, saw 65\nSkipping line 387294: expected 64 fields, saw 65\nSkipping line 387307: expected 64 fields, saw 65\nSkipping line 387308: expected 64 fields, saw 65\nSkipping line 387309: expected 64 fields, saw 65\nSkipping line 387311: expected 64 fields, saw 65\nSkipping line 387312: expected 64 fields, saw 65\nSkipping line 387313: expected 64 fields, saw 65\nSkipping line 387314: expected 64 fields, saw 65\nSkipping line 387315: expected 64 fields, saw 65\nSkipping line 388434: expected 64 fields, saw 65\nSkipping line 388960: expected 64 fields, saw 65\nSkipping line 389117: expected 64 fields, saw 65\nSkipping line 389292: expected 64 fields, saw 65\n'
b'Skipping line 394150: expected 64 fields, saw 65\nSkipping line 394583: expected 64 fields, saw 65\nSkipping line 394585: expected 64 fields, saw 65\nSkipping line 394587: expected 64 fields, saw 65\nSkipping line 394972: expected 64 fields, saw 65\nSkipping line 394973: expected 64 fields, saw 65\nSkipping line 394974: expected 64 fields, saw 65\nSkipping line 395126: expected 64 fields, saw 65\nSkipping line 395149: expected 64 fields, saw 65\nSkipping line 395151: expected 64 fields, saw 65\nSkipping line 395183: expected 64 fields, saw 65\nSkipping line 395184: expected 64 fields, saw 65\nSkipping line 395267: expected 64 fields, saw 65\nSkipping line 398602: expected 64 fields, saw 65\nSkipping line 398603: expected 64 fields, saw 65\nSkipping line 398604: expected 64 fields, saw 65\nSkipping line 400387: expected 64 fields, saw 67\nSkipping line 400848: expected 64 fields, saw 65\nSkipping line 401543: expected 64 fields, saw 65\nSkipping line 401544: expected 64 fields, saw 65\nSkipping line 401813: expected 64 fields, saw 65\nSkipping line 401814: expected 64 fields, saw 65\nSkipping line 401815: expected 64 fields, saw 65\nSkipping line 401968: expected 64 fields, saw 65\nSkipping line 402000: expected 64 fields, saw 65\nSkipping line 402003: expected 64 fields, saw 65\nSkipping line 402004: expected 64 fields, saw 65\nSkipping line 402005: expected 64 fields, saw 65\nSkipping line 402198: expected 64 fields, saw 65\n'
b'Skipping line 402343: expected 64 fields, saw 65\nSkipping line 402428: expected 64 fields, saw 65\nSkipping line 402429: expected 64 fields, saw 65\nSkipping line 402677: expected 64 fields, saw 65\nSkipping line 402678: expected 64 fields, saw 65\nSkipping line 404260: expected 64 fields, saw 65\nSkipping line 404262: expected 64 fields, saw 65\nSkipping line 404263: expected 64 fields, saw 65\nSkipping line 404284: expected 64 fields, saw 65\nSkipping line 404286: expected 64 fields, saw 65\nSkipping line 404287: expected 64 fields, saw 65\nSkipping line 404466: expected 64 fields, saw 65\n'
C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (42,43,44,45,55,56,57,58,59,60,62) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

Full list of dfs:
['companies', 'operating_schedules', 'options', 'option_calculations', 'option_calc_fixtures', 'option_calc_lightings', 'option_calc_years', 'projects', 'project_financing_estimates', 'proposals', 'rate_schedules']

In [22]:
operating_schedules.head()

,id,created_by_user_id,project_id,name,annual_hours,created_at,updated_at,active,inactive_at,internal_notes,notes,uuid,copied_from_id,monday,tuesday,wednesday,thursday,friday,saturday,sunday,weeks_per_year,hour_type,controls_reduction
0,2431,495,1697.0,operating_schedules,12.0,2018-03-29 04:53:19.748433,2018-03-29 04:53:19.748433,t,NaN,NaN,NaN,6474B7D7-6A0E-4575-980E-F766C3A89CB3,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN
1,2492,35,1731.0,operating_schedules,4380.0,2018-04-15 13:26:09.970019,2018-04-15 13:26:09.970019,t,NaN,NaN,NaN,de873ee9-3bea-4aee-b9eb-11cfdd208a52,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN
2,2574,368,1774.0,operating_schedules,6292.0,2018-04-30 19:49:13.533927,2018-04-30 19:49:13.533927,t,NaN,NaN,NaN,611893c0-7200-4514-bc6a-8cc0110c15bb,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN
3,2681,768,1821.0,operating_schedules,6188.0,2018-05-16 17:10:46.62786,2018-05-16 17:10:46.62786,t,NaN,NaN,NaN,071d0fb4-8f45-4fb9-978a-1e7662a335cd,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN
4,2761,783,1887.0,operating_schedules,3500.0,2018-06-05 13:48:55.286446,2018-06-05 13:48:55.286446,t,NaN,NaN,NaN,5ffe4a61-e54d-472f-8ed2-c5c14cdd7384,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN

In [23]:
projects.shape

(11800, 54)

In [24]:
len(companies['active'] == 't')
#projects.active.unique

699

In [25]:
options.rename(columns = {'id':'option_id'}, inplace = True) #options table
projects.rename(columns = {'id':'project_id'}, inplace = True) #projects table
#projects=projects[projects.active == True]
#options=options[options.active == True]
df = pd.merge(options, projects, on = 'project_id', how = 'inner')
df = df[['option_id', 'project_id', 'company_id']]

df.head()
#print(len(df))
#print(df.isnull().sum())

   option_id  project_id  company_id
0         38          75        49.0
1         37          75        49.0
2         49          80        87.0
3         48          80        87.0
4         57          88       100.0

In [26]:
options.shape

(9942, 29)

In [27]:
projects.shape

(11800, 54)

In [28]:
df.shape

(9942, 3)

In [29]:
companies.rename(columns = {'id':'company_id'}, inplace = True) #companies table
df = pd.merge(df,companies, on = 'company_id', how = 'inner')
df = df[['company_id', 'project_id', 'option_id']]
df.head()

   company_id  project_id  option_id
0        49.0          75         38
1        49.0          75         37
2        49.0         473        432
3        49.0         473        431
4        49.0        1001       1130

In [30]:
companies.shape

(699, 76)

In [31]:
df.shape

(9942, 3)

In [32]:
#pd.options.display.min_rows = 72
df.columns

Index(['company_id', 'project_id', 'option_id'], dtype='object')

In [33]:
option_calculations.rename(columns = {'id':'option_calc_id'}, inplace = True) #option_calculations table
df = pd.merge(df, option_calculations, on = 'option_id', how = 'inner')
df= df[['company_id', 'project_id', 'option_id', 'option_calc_id', 'net_replacement_cost', 'total_incentives', 
         'total_cogs', 'replacement_cost_per_year', 'total_fixture_cost', 'original_cost_per_year', 'total_labor_cost', 
         'total_misc_cost', 'total_tax_cost', 'original_energy_cost_per_year', 'original_maintenance_cost_per_year', 'replacement_energy_cost_per_year', 
    'internal_return', 'payback', 'existing_kw', 'proposed_kw', 'existing_kwh', 'proposed_kwh' ]]
df.head()

,company_id,project_id,option_id,option_calc_id,net_replacement_cost,total_incentives,total_cogs,replacement_cost_per_year,total_fixture_cost,original_cost_per_year,total_labor_cost,total_misc_cost,total_tax_cost,original_energy_cost_per_year,original_maintenance_cost_per_year,replacement_energy_cost_per_year,internal_return,payback,existing_kw,proposed_kw,existing_kwh,proposed_kwh
0,49.0,75,38,7234,0.00000,0.00,0.000000,18824.605800,0.000000,18824.605800,0.0,0.0,0.000000,14480.4660,0.00,14480.4660,0.0,NaN,12.055,12.055,96536.44,96536.440
1,49.0,75,37,1268,10290.33985,0.00,4407.280000,4814.289480,9200.339850,18824.605800,1720.0,-630.0,0.000000,14480.4660,0.00,3703.2996,123.0,0.73,12.055,3.083,96536.44,24688.664
2,49.0,473,432,1647,15149.11000,1530.00,11297.110000,5642.784000,10764.000000,14174.280000,5000.0,0.0,915.110000,12942.7200,1231.56,5642.7840,52.0,1.78,12.840,5.598,107856.00,47023.200
3,49.0,473,431,1646,26175.23131,1950.00,24917.485132,2162.160000,7409.216178,14174.280000,18700.0,0.0,2016.015132,12942.7200,1231.56,2162.1600,40.0,2.18,12.840,2.145,107856.00,18018.000
4,49.0,1001,1130,51,3069.78765,353.97,2538.562650,706.142717,1540.895000,2691.183865,1775.0,0.0,107.862650,2428.1726,0.00,637.1309,64.0,1.55,6.658,1.747,17344.09,4550.935

In [34]:
df.shape

(9938, 22)

In [35]:
#option_calculations.rename(columns = {'id':'option_calc_id'}, inplace = True) #option_calculations table
'''project_financing_estimates=project_financing_estimates[project_financing_estimates.active == 't']
df = pd.merge(df, project_financing_estimates, on = 'project_id', how = 'left')
df= df[['company_id', 'project_id', 'option_id', 'option_calc_id', 'net_replacement_cost', 'total_incentives', 
         'total_cogs', 'replacement_cost_per_year', 'total_fixture_cost', 'original_cost_per_year', 'total_labor_cost', 
         'total_misc_cost', 'total_tax_cost', 'original_energy_cost_per_year', 'original_maintenance_cost_per_year', 'replacement_energy_cost_per_year',
         'minimum_annual_service_cost', 'upfront_project_cost', 'current_annual_energy_cost',
         'internal_return', 'payback', 'existing_kw', 'proposed_kw', 'existing_kwh', 'proposed_kwh' ]]
df.head()'''

"project_financing_estimates=project_financing_estimates[project_financing_estimates.active == 't']\ndf = pd.merge(df, project_financing_estimates, on = 'project_id', how = 'left')\ndf= df[['company_id', 'project_id', 'option_id', 'option_calc_id', 'net_replacement_cost', 'total_incentives', \n         'total_cogs', 'replacement_cost_per_year', 'total_fixture_cost', 'original_cost_per_year', 'total_labor_cost', \n         'total_misc_cost', 'total_tax_cost', 'original_energy_cost_per_year', 'original_maintenance_cost_per_year', 'replacement_energy_cost_per_year',\n         'minimum_annual_service_cost', 'upfront_project_cost', 'current_annual_energy_cost',\n         'internal_return', 'payback', 'existing_kw', 'proposed_kw', 'existing_kwh', 'proposed_kwh' ]]\ndf.head()"

In [36]:
df.shape

(9938, 22)

In [37]:
option_calc_years.rename(columns = {'option_calculation_id':'option_calc_id'}, inplace = True) #option_calc_years table
df = pd.merge(df, option_calc_years, on = 'option_calc_id', how = 'inner')
df= df[['company_id', 'project_id', 'option_id', 'option_calc_id', 'net_replacement_cost', 'total_incentives', 
         'total_cogs', 'replacement_cost_per_year', 'total_fixture_cost', 'original_cost_per_year', 'total_labor_cost', 
         'total_misc_cost', 'total_tax_cost', 'original_energy_cost_per_year', 'original_maintenance_cost_per_year', 'replacement_energy_cost_per_year', 
        'internal_return', 'payback', 
        'energy_cost', 'maintenance_cost', 'demand_cost', 
        'existing_kw', 'proposed_kw', 'existing_kwh', 'proposed_kwh' ]]
df.head()

,company_id,project_id,option_id,option_calc_id,net_replacement_cost,total_incentives,total_cogs,replacement_cost_per_year,total_fixture_cost,original_cost_per_year,total_labor_cost,total_misc_cost,total_tax_cost,original_energy_cost_per_year,original_maintenance_cost_per_year,replacement_energy_cost_per_year,internal_return,payback,energy_cost,maintenance_cost,demand_cost,existing_kw,proposed_kw,existing_kwh,proposed_kwh
0,49.0,75,38,7234,0.0,0.0,0.0,18824.6058,0.0,18824.6058,0.0,0.0,0.0,14480.466,0.0,14480.466,0.0,NaN,14480.47,0.0,0.0,12.055,12.055,96536.44,96536.44
1,49.0,75,38,7234,0.0,0.0,0.0,18824.6058,0.0,18824.6058,0.0,0.0,0.0,14480.466,0.0,14480.466,0.0,NaN,14480.47,0.0,0.0,12.055,12.055,96536.44,96536.44
2,49.0,75,38,7234,0.0,0.0,0.0,18824.6058,0.0,18824.6058,0.0,0.0,0.0,14480.466,0.0,14480.466,0.0,NaN,14480.47,0.0,0.0,12.055,12.055,96536.44,96536.44
3,49.0,75,38,7234,0.0,0.0,0.0,18824.6058,0.0,18824.6058,0.0,0.0,0.0,14480.466,0.0,14480.466,0.0,NaN,14480.47,0.0,0.0,12.055,12.055,96536.44,96536.44
4,49.0,75,38,7234,0.0,0.0,0.0,18824.6058,0.0,18824.6058,0.0,0.0,0.0,14480.466,0.0,14480.466,0.0,NaN,14480.47,0.0,0.0,12.055,12.055,96536.44,96536.44

In [38]:
df.shape

(194233, 25)

In [39]:
operating_schedules = operating_schedules[operating_schedules.annual_hours > 0] #operating_schedules table
operating_schedules.rename(columns = {'id':'operating_schedule_id'}, inplace = True) #option_calc_years table
operating_schedules = operating_schedules[operating_schedules.active == 't']
df = pd.merge(df, operating_schedules, on = 'project_id', how = 'inner') 
df= df[['company_id', 'project_id', 'option_id', 'option_calc_id', 'operating_schedule_id', 'net_replacement_cost', 'total_incentives', 
         'total_cogs', 'replacement_cost_per_year', 'total_fixture_cost', 'original_cost_per_year', 'total_labor_cost', 
         'total_misc_cost', 'total_tax_cost', 'original_energy_cost_per_year', 'original_maintenance_cost_per_year', 'replacement_energy_cost_per_year', 
         'internal_return', 'payback', 
         'energy_cost', 'maintenance_cost', 'demand_cost', 
         'existing_kw', 'proposed_kw', 'existing_kwh', 'proposed_kwh',
         'annual_hours']]
df.head()

,company_id,project_id,option_id,option_calc_id,operating_schedule_id,net_replacement_cost,total_incentives,total_cogs,replacement_cost_per_year,total_fixture_cost,original_cost_per_year,total_labor_cost,total_misc_cost,total_tax_cost,original_energy_cost_per_year,original_maintenance_cost_per_year,replacement_energy_cost_per_year,internal_return,payback,energy_cost,maintenance_cost,demand_cost,existing_kw,proposed_kw,existing_kwh,proposed_kwh,annual_hours
0,49.0,75,38,7234,95,0.0,0.0,0.0,18824.6058,0.0,18824.6058,0.0,0.0,0.0,14480.466,0.0,14480.466,0.0,NaN,14480.47,0.0,0.0,12.055,12.055,96536.44,96536.44,8008.0
1,49.0,75,38,7234,95,0.0,0.0,0.0,18824.6058,0.0,18824.6058,0.0,0.0,0.0,14480.466,0.0,14480.466,0.0,NaN,14480.47,0.0,0.0,12.055,12.055,96536.44,96536.44,8008.0
2,49.0,75,38,7234,95,0.0,0.0,0.0,18824.6058,0.0,18824.6058,0.0,0.0,0.0,14480.466,0.0,14480.466,0.0,NaN,14480.47,0.0,0.0,12.055,12.055,96536.44,96536.44,8008.0
3,49.0,75,38,7234,95,0.0,0.0,0.0,18824.6058,0.0,18824.6058,0.0,0.0,0.0,14480.466,0.0,14480.466,0.0,NaN,14480.47,0.0,0.0,12.055,12.055,96536.44,96536.44,8008.0
4,49.0,75,38,7234,95,0.0,0.0,0.0,18824.6058,0.0,18824.6058,0.0,0.0,0.0,14480.466,0.0,14480.466,0.0,NaN,14480.47,0.0,0.0,12.055,12.055,96536.44,96536.44,8008.0

In [40]:
df.shape

(389876, 27)

In [41]:
rate_schedules = rate_schedules[rate_schedules.active == 't'] #rate_schedules table
rate_schedules.rename(columns = {'id':'rate_schedule_id'}, inplace = True) #option_calc_years table
df = pd.merge(df, rate_schedules, on = 'project_id', how = 'inner')
df= df[['company_id', 'project_id', 'option_id', 'option_calc_id', 'operating_schedule_id', 'rate_schedule_id', 'net_replacement_cost', 'total_incentives', 
         'total_cogs', 'replacement_cost_per_year', 'total_fixture_cost', 'original_cost_per_year', 'total_labor_cost', 
         'total_misc_cost', 'total_tax_cost', 'original_energy_cost_per_year', 'original_maintenance_cost_per_year', 'replacement_energy_cost_per_year', 
         'internal_return', 'payback', 
         'energy_cost', 'maintenance_cost', 'demand_cost', 
         'existing_kw', 'proposed_kw', 'existing_kwh', 'proposed_kwh',
         'annual_hours',
         'kwh_cost']]
df.head()

,company_id,project_id,option_id,option_calc_id,operating_schedule_id,rate_schedule_id,net_replacement_cost,total_incentives,total_cogs,replacement_cost_per_year,total_fixture_cost,original_cost_per_year,total_labor_cost,total_misc_cost,total_tax_cost,original_energy_cost_per_year,original_maintenance_cost_per_year,replacement_energy_cost_per_year,internal_return,payback,energy_cost,maintenance_cost,demand_cost,existing_kw,proposed_kw,existing_kwh,proposed_kwh,annual_hours,kwh_cost
0,49.0,75,38,7234,95,50,0.0,0.0,0.0,18824.6058,0.0,18824.6058,0.0,0.0,0.0,14480.466,0.0,14480.466,0.0,NaN,14480.47,0.0,0.0,12.055,12.055,96536.44,96536.44,8008.0,0.15
1,49.0,75,38,7234,95,50,0.0,0.0,0.0,18824.6058,0.0,18824.6058,0.0,0.0,0.0,14480.466,0.0,14480.466,0.0,NaN,14480.47,0.0,0.0,12.055,12.055,96536.44,96536.44,8008.0,0.15
2,49.0,75,38,7234,95,50,0.0,0.0,0.0,18824.6058,0.0,18824.6058,0.0,0.0,0.0,14480.466,0.0,14480.466,0.0,NaN,14480.47,0.0,0.0,12.055,12.055,96536.44,96536.44,8008.0,0.15
3,49.0,75,38,7234,95,50,0.0,0.0,0.0,18824.6058,0.0,18824.6058,0.0,0.0,0.0,14480.466,0.0,14480.466,0.0,NaN,14480.47,0.0,0.0,12.055,12.055,96536.44,96536.44,8008.0,0.15
4,49.0,75,38,7234,95,50,0.0,0.0,0.0,18824.6058,0.0,18824.6058,0.0,0.0,0.0,14480.466,0.0,14480.466,0.0,NaN,14480.47,0.0,0.0,12.055,12.055,96536.44,96536.44,8008.0,0.15

In [42]:
df.shape

(448209, 29)

In [43]:
#option_calc_fixtures table
option_calc_fixtures.rename(columns = {'option_calculation_id':'option_calc_id'}, inplace = True)
option_calc_fixtures = option_calc_fixtures[(option_calc_fixtures.active == 't') & (option_calc_fixtures.use == 't')]
option_calc_fixtures = option_calc_fixtures[(option_calc_fixtures.rate_schedule_id > 0) & (option_calc_fixtures.operating_schedule_id > 0) ] 
df = pd.merge(df, option_calc_fixtures, on = ['option_calc_id','operating_schedule_id', 'rate_schedule_id'], how = 'inner')
df= df[['company_id', 'project_id', 'option_id', 'option_calc_id', 'net_replacement_cost', 'total_incentives', 
         'total_cogs', 'replacement_cost_per_year', 'total_fixture_cost', 'original_cost_per_year', 'total_labor_cost', 
         'total_misc_cost', 'total_tax_cost', 'original_energy_cost_per_year', 'original_maintenance_cost_per_year', 'replacement_energy_cost_per_year', 
         'internal_return', 'payback', 
         'energy_cost', 'maintenance_cost', 'demand_cost', 
         'existing_kw', 'proposed_kw', 'existing_kwh', 'proposed_kwh',
         'annual_hours',
         'kwh_cost',
         'fixture_item_cost', 'fixture_labor_cost', 'fixture_tax_cost', 
         'fixture_total_cost', 'replacement_fixture_cost', 'replacement_labor_cost', 'replacement_tax_cost', 'simple_payback']]
df.head()

MemoryError: Unable to allocate 1.07 GiB for an array with shape (36, 3990491) and data type float64

In [ ]:
for col_name in df.columns: 
    print(col_name)

In [ ]:
print("Removing null values ")
print()
for i in df.columns:
    if (df[i].isnull().sum()/len(df))*100 >= 30:
        print(i,":", df[i].isnull().sum()/len(df)*100, "%")
        if i== 'payback':
            continue
        else:
            #df.drop(i, axis=1,inplace=True)

In [ ]:
print("Dropping columns which have mostly zero's ")
print()
for i in df.columns:
    if len(df[df[i]==0])/len(df)*100 >=85:
        print(i,":", len(df[df[i]==0])/len(df)*100,"%")
        #df.drop(i, axis=1,inplace=True)
df

In [ ]:
'''import matplotlib.pyplot as plt
import seaborn as sns
test = df[['net_replacement_cost', 'total_incentives', 'total_cogs', 'replacement_cost_per_year', 'total_fixture_cost', 'original_cost_per_year', 'total_labor_cost', 
         'total_misc_cost', 'total_tax_cost', 'original_energy_cost_per_year', 'original_maintenance_cost_per_year', 'replacement_energy_cost_per_year',
         'minimum_annual_service_cost', 'upfront_project_cost', 'current_annual_energy_cost']]

plt.figure(figsize=(30,20))

sns.light_palette("seagreen", as_cmap=True)
sns.heatmap(test.corr(), annot=True)'''

In [ ]:
'''import numpy as np
# Create correlation matrix
corr_matrix = df.corr().abs()
# Select upper triangle of correlation matrix
upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(np.bool))
# Find features with correlation greater than 0.95
to_drop = [column for column in upper.columns if any(upper[column] > 0.8)]
# Drop features
df.drop(to_drop, axis=1, inplace=True)'''