In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [2]:
p1 = pd.read_csv("/content/drive/MyDrive/Data/Retrolux_EDA_Subtask/features_01.csv")
p2 = pd.read_csv("/content/drive/MyDrive/Data/Retrolux_EDA_Subtask/features_02.csv")

In [3]:
p_final = pd.read_csv("/content/drive/MyDrive/Data/Retrolux_EDA_Subtask/features_merge_final.csv") # PostgreSQL Merged for comparision

In [4]:
p1.head()

   areas_id  sqft  avg_illuminace  ...  demand_utilization  rate_customer  rate_type
0     30064   NaN             NaN  ...               100.0            0.0    blended
1     30064   NaN             NaN  ...               100.0            0.0    blended
2     30064   NaN             NaN  ...               100.0            0.0    blended
3     30064   NaN             NaN  ...               100.0            0.0    blended
4     30094   NaN             NaN  ...               100.0            0.0    blended

[5 rows x 26 columns]

In [5]:
p1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1380567 entries, 0 to 1380566
Data columns (total 26 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   areas_id                   1380567 non-null  int64
 1   sqft                       6837 non-null     float64
 2   avg_illuminace             2044 non-null     float64
 3   project_id                 1380567 non-null  float64
 4   area_count                 1380567 non-null  int64
 5   min_brightness_level       62 non-null       float64
 6   code                       1380567 non-null  float64
 7   location_id                287111 non-null   float64
 8   company_id                 1380567 non-null  float64
 9   project_name               1380567 non-null  object
 10  company_project_status_id  1380567 non-null  float64
 11  project_active             1380567 non-null  object
 12  facility_type_id           886912 non-null   float64
 13  tax_rate_source            1379727 non-null  float64
 14  shipping_address_location  1231177 non-null  float64
 15  tax_exempt                 1380459 non-null  object
 16  operating_id               1380567 non-null  int64
 17  annual_hours               1380567 non-null  float64
 18  proposals_id               1380567 non-null  int64
 19  name                       1380567 non-null  object
 20  proposals_active           1380567 non-null  object
 21  rate_schedule_id           1380567 non-null  int64
 22  kwh_cost                   1338592 non-null  float64
 23  demand_utilization         1380566 non-null  float64
 24  rate_customer              1380566 non-null  float64
 25  rate_type                  1380566 non-null  object
dtypes: float64(15), int64(5), object(6)
memory usage: 273.9+ MB

In [6]:
p1.nunique()

areas_id                     83193
sqft                           181
avg_illuminace                  64
project_id                    5834
area_count                       1
min_brightness_level             4
code                          1767
location_id                    723
company_id                     311
project_name                  5741
company_project_status_id      663
project_active                   2
facility_type_id                60
tax_rate_source                  2
shipping_address_location        3
tax_exempt                       2
operating_id                 11301
annual_hours                   950
proposals_id                  9024
name                          2510
proposals_active                 2
rate_schedule_id              6307
kwh_cost                       569
demand_utilization               5
rate_customer                   14
rate_type                        2
dtype: int64

In [7]:
p2.head()

   option_id  project_id  ...  existing_quantity proposed_quantity
0         38          75  ...                NaN               NaN
1         38          75  ...                NaN               NaN
2         38          75  ...                NaN               NaN
3         38          75  ...                NaN               NaN
4         49          80  ...                NaN               NaN

[5 rows x 19 columns]

In [8]:
p2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93967 entries, 0 to 93966
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   option_id                 93967 non-null  int64
 1   project_id                93967 non-null  int64
 2   solution_id               90947 non-null  float64
 3   name                      90944 non-null  object
 4   existing_count_solutions  90947 non-null  float64
 5   active                    90947 non-null  object
 6   created_by_user_id        90947 non-null  float64
 7   incentive_type            90939 non-null  float64
 8   product_count             90947 non-null  float64
 9   existing_lighting_id      54377 non-null  float64
 10  proposal_options_id       93600 non-null  float64
 11  proposal_id               93600 non-null  float64
 12  area_id                   14365 non-null  float64
 13  existing_count_exlight    14365 non-null  float64
 14  replacement_count         68574 non-null  float64
 15  watts_per_product         68574 non-null  float64
 16  option_calc_light_id      43811 non-null  float64
 17  existing_quantity         43811 non-null  float64
 18  proposed_quantity         43811 non-null  float64
dtypes: float64(15), int64(2), object(2)
memory usage: 13.6+ MB

In [9]:
p2.nunique()

option_id                    9942
project_id                   6610
solution_id                 82461
name                        20957
existing_count_solutions      176
active                          2
created_by_user_id            373
incentive_type                  5
product_count                 164
existing_lighting_id        22363
proposal_options_id         10007
proposal_id                  9908
area_id                        82
existing_count_exlight        449
replacement_count            1097
watts_per_product            1207
option_calc_light_id        41207
existing_quantity             748
proposed_quantity             893
dtype: int64

In [10]:
p_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12729 entries, 0 to 12728
Data columns (total 38 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   project_id                 12729 non-null  int64
 1   option_id                  12375 non-null  float64
 2   option_calculation_id      6222 non-null   float64
 3   company_id                 12729 non-null  int64
 4   projects_name              12729 non-null  object
 5   facility_type_id           6139 non-null   float64
 6   facility_type              6139 non-null   object
 7   tax_rate_source            12687 non-null  float64
 8   finance_discount_rate      12729 non-null  int64
 9   tax_exempt                 12723 non-null  object
 10  active                     12729 non-null  bool
 11  area_count                 12729 non-null  int64
 12  area_count_sum             12727 non-null  float64
 13  ave_annual_hours           11517 non-null  float64
 14  monday_ave_daily_hours     11967 non-null  float64
 15  tuesday_ave_daily_hours    11967 non-null  float64
 16  wednesday_ave_daily_hours  11967 non-null  float64
 17  thursday_ave_daily_hours   11961 non-null  float64
 18  friday_ave_daily_hours     11961 non-null  float64
 19  saturday_ave_daily_hours   11967 non-null  float64
 20  sunday_ave_daily_hours     11967 non-null  float64
 21  ave_weeks_per_year         11967 non-null  float64
 22  hour_type                  12219 non-null  float64
 23  max_kwh_cost               11813 non-null  float64
 24  max_kwh_cost_simple        195 non-null    float64
 25  existing_lighting_count    12729 non-null  int64
 26  total_watts_per_product    12530 non-null  float64
 27  ave_lm70                   12530 non-null  float64
 28  total_solution_count       12729 non-null  int64
 29  total_existing_quantity    6222 non-null   float64
 30  total_proposed_quantity    6222 non-null   float64
 31  total_replacement_count    9805 non-null   float64
 32  total_fixture_watts        9805 non-null   float64
 33  total_fixture_watt_hours   9805 non-null   float64
 34  total_fixture_life_years   9805 non-null   float64
 35  total_item_watts           9805 non-null   float64
 36  sol_total_existing_count   12729 non-null  int64
 37  total_product_count        12729 non-null  int64
dtypes: bool(1), float64(26), int64(8), object(3)
memory usage: 3.6+ MB

In [11]:
p_final.shape

(12729, 38)

# **Aggregations**

In [12]:
p1.columns

Index(['areas_id', 'sqft', 'avg_illuminace', 'project_id', 'area_count',
       'min_brightness_level', 'code', 'location_id', 'company_id',
       'project_name', 'company_project_status_id', 'project_active',
       'facility_type_id', 'tax_rate_source', 'shipping_address_location',
       'tax_exempt', 'operating_id', 'annual_hours', 'proposals_id', 'name',
       'proposals_active', 'rate_schedule_id', 'kwh_cost',
       'demand_utilization', 'rate_customer', 'rate_type'],
      dtype='object')

In [15]:
group1 = p1.groupby('project_id')['areas_id', 'sqft', 'avg_illuminace', 'area_count',
       'min_brightness_level', 'code', 'location_id', 'company_id',
       'project_name', 'company_project_status_id', 'project_active',
       'facility_type_id', 'tax_rate_source', 'shipping_address_location',
       'tax_exempt', 'operating_id', 'annual_hours', 'proposals_id', 'name',
       'proposals_active', 'rate_schedule_id', 'kwh_cost',
       'demand_utilization', 'rate_customer', 'rate_type'].sum().reset_index()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

In [13]:
operations = p1.groupby('project_id').agg(
    area_counts = ("areas_id", "count"),
    area_counts_sum = ("areas_id", "sum"),
    ave_annual_hours = ("annual_hours", "mean"),
    max_kwh_cost = ("kwh_cost", "max")
)

In [14]:
operations

            area_counts  area_counts_sum  ave_annual_hours  max_kwh_cost
project_id
2.0                   3               39         12.000000       0.12000
5.0                   7              396       8760.000000       0.08000
6.0                   8               40       2920.000000       0.18000
7.0                   6               51       8760.000000       0.07234
8.0                   1             1948       1000.000000       0.10000
...                 ...              ...               ...           ...
12131.0              24          4013892       3106.666667           NaN
12132.0               8          1337914       6044.000000       0.10000
12133.0               4           669094       5940.000000       0.15000
12138.0               1           167307       2754.000000       0.10000
12143.0               1           167404       5000.000000       0.08000

[5834 rows x 4 columns]

In [16]:
group1 = (pd.merge(group1, operations, on = 'project_id',how='left'))

In [17]:
group1.head()

   project_id  areas_id  ...  ave_annual_hours  max_kwh_cost
0         2.0        39  ...              12.0       0.12000
1         5.0       396  ...            8760.0       0.08000
2         6.0        40  ...            2920.0       0.18000
3         7.0        51  ...            8760.0       0.07234
4         8.0      1948  ...            1000.0       0.10000

[5 rows x 24 columns]

In [18]:
print(type(group1))

<class 'pandas.core.frame.DataFrame'>

In [19]:
group1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5834 entries, 0 to 5833
Data columns (total 24 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   project_id                 5834 non-null   float64
 1   areas_id                   5834 non-null   int64
 2   sqft                       5834 non-null   float64
 3   avg_illuminace             5834 non-null   float64
 4   area_count                 5834 non-null   int64
 5   min_brightness_level       5834 non-null   float64
 6   code                       5834 non-null   float64
 7   location_id                5834 non-null   float64
 8   company_id                 5834 non-null   float64
 9   company_project_status_id  5834 non-null   float64
 10  facility_type_id           5834 non-null   float64
 11  tax_rate_source            5834 non-null   float64
 12  shipping_address_location  5834 non-null   float64
 13  operating_id               5834 non-null   int64
 14  annual_hours               5834 non-null   float64
 15  proposals_id               5834 non-null   int64
 16  rate_schedule_id           5834 non-null   int64
 17  kwh_cost                   5834 non-null   float64
 18  demand_utilization         5834 non-null   float64
 19  rate_customer              5834 non-null   float64
 20  area_counts                5834 non-null   int64
 21  area_counts_sum            5834 non-null   int64
 22  ave_annual_hours           5834 non-null   float64
 23  max_kwh_cost               5811 non-null   float64
dtypes: float64(17), int64(7)
memory usage: 1.1 MB

In [20]:
p2.columns

Index(['option_id', 'project_id', 'solution_id', 'name',
       'existing_count_solutions', 'active', 'created_by_user_id',
       'incentive_type', 'product_count', 'existing_lighting_id',
       'proposal_options_id', 'proposal_id', 'area_id',
       'existing_count_exlight', 'replacement_count', 'watts_per_product',
       'option_calc_light_id', 'existing_quantity', 'proposed_quantity'],
      dtype='object')

In [21]:
group2 = p2.groupby('project_id')['option_id', 'solution_id', 'name',
       'existing_count_solutions', 'active', 'created_by_user_id',
       'incentive_type', 'product_count', 'existing_lighting_id',
       'proposal_options_id', 'proposal_id', 'area_id',
       'existing_count_exlight', 'replacement_count', 'watts_per_product',
       'option_calc_light_id', 'existing_quantity', 'proposed_quantity'].sum().reset_index()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

In [22]:
variables = p2.groupby('project_id').agg(
    total_watts_per_product = ("watts_per_product", "sum"),
    existing_lighting_count = ("existing_lighting_id", "count")
)

In [23]:
group2 = (pd.merge(group2, variables, on = 'project_id',how='left'))

In [24]:
group2.head()

   project_id  option_id  ...  total_watts_per_product  existing_lighting_count
0           3        116  ...                    259.4                       10
1           4       5772  ...                    259.4                        0
2           8        290  ...                     13.0                        1
3          11         92  ...                    600.0                        1
4          15       7919  ...                    861.2                       41

[5 rows x 19 columns]

In [25]:
print(type(group2))

<class 'pandas.core.frame.DataFrame'>

In [26]:
group2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6610 entries, 0 to 6609
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   project_id                6610 non-null   int64
 1   option_id                 6610 non-null   int64
 2   solution_id               6610 non-null   float64
 3   existing_count_solutions  6610 non-null   float64
 4   created_by_user_id        6610 non-null   float64
 5   incentive_type            6610 non-null   float64
 6   product_count             6610 non-null   float64
 7   existing_lighting_id      6610 non-null   float64
 8   proposal_options_id       6610 non-null   float64
 9   proposal_id               6610 non-null   float64
 10  area_id                   6610 non-null   float64
 11  existing_count_exlight    6610 non-null   float64
 12  replacement_count         6610 non-null   float64
 13  watts_per_product         6610 non-null   float64
 14  option_calc_light_id      6610 non-null   float64
 15  existing_quantity         6610 non-null   float64
 16  proposed_quantity         6610 non-null   float64
 17  total_watts_per_product   6610 non-null   float64
 18  existing_lighting_count   6610 non-null   int64
dtypes: float64(16), int64(3)
memory usage: 1.0 MB

In [27]:
df_final = (pd.merge(group1, group2, how = 'left', on = 'project_id'))

In [28]:
df_final.head()

   project_id  areas_id  ...  total_watts_per_product  existing_lighting_count
0         2.0        39  ...                      NaN                      NaN
1         5.0       396  ...                      NaN                      NaN
2         6.0        40  ...                      NaN                      NaN
3         7.0        51  ...                      NaN                      NaN
4         8.0      1948  ...                     13.0                      1.0

[5 rows x 42 columns]

In [30]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5834 entries, 0 to 5833
Data columns (total 42 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   project_id                 5834 non-null   float64
 1   areas_id                   5834 non-null   int64
 2   sqft                       5834 non-null   float64
 3   avg_illuminace             5834 non-null   float64
 4   area_count                 5834 non-null   int64
 5   min_brightness_level       5834 non-null   float64
 6   code                       5834 non-null   float64
 7   location_id                5834 non-null   float64
 8   company_id                 5834 non-null   float64
 9   company_project_status_id  5834 non-null   float64
 10  facility_type_id           5834 non-null   float64
 11  tax_rate_source            5834 non-null   float64
 12  shipping_address_location  5834 non-null   float64
 13  operating_id               5834 non-null   int64
 14  annual_hours               5834 non-null   float64
 15  proposals_id               5834 non-null   int64
 16  rate_schedule_id           5834 non-null   int64
 17  kwh_cost                   5834 non-null   float64
 18  demand_utilization         5834 non-null   float64
 19  rate_customer              5834 non-null   float64
 20  area_counts                5834 non-null   int64
 21  area_counts_sum            5834 non-null   int64
 22  ave_annual_hours           5834 non-null   float64
 23  max_kwh_cost               5811 non-null   float64
 24  option_id                  5829 non-null   float64
 25  solution_id                5829 non-null   float64
 26  existing_count_solutions   5829 non-null   float64
 27  created_by_user_id         5829 non-null   float64
 28  incentive_type             5829 non-null   float64
 29  product_count              5829 non-null   float64
 30  existing_lighting_id       5829 non-null   float64
 31  proposal_options_id        5829 non-null   float64
 32  proposal_id                5829 non-null   float64
 33  area_id                    5829 non-null   float64
 34  existing_count_exlight     5829 non-null   float64
 35  replacement_count          5829 non-null   float64
 36  watts_per_product          5829 non-null   float64
 37  option_calc_light_id       5829 non-null   float64
 38  existing_quantity          5829 non-null   float64
 39  proposed_quantity          5829 non-null   float64
 40  total_watts_per_product    5829 non-null   float64
 41  existing_lighting_count    5829 non-null   float64
dtypes: float64(35), int64(7)
memory usage: 1.9 MB

In [31]:
df_final = df_final.drop(columns = ['min_brightness_level', 'areas_id', 'area_id', 'proposals_id', 'proposal_id'])

In [37]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5834 entries, 0 to 5833
Data columns (total 37 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   project_id                 5834 non-null   float64
 1   sqft                       5834 non-null   float64
 2   avg_illuminace             5834 non-null   float64
 3   area_count                 5834 non-null   int64
 4   code                       5834 non-null   float64
 5   location_id                5834 non-null   float64
 6   company_id                 5834 non-null   float64
 7   company_project_status_id  5834 non-null   float64
 8   facility_type_id           5834 non-null   float64
 9   tax_rate_source            5834 non-null   float64
 10  shipping_address_location  5834 non-null   float64
 11  operating_id               5834 non-null   int64
 12  annual_hours               5834 non-null   float64
 13  rate_schedule_id           5834 non-null   int64
 14  kwh_cost                   5834 non-null   float64
 15  demand_utilization         5834 non-null   float64
 16  rate_customer              5834 non-null   float64
 17  area_counts                5834 non-null   int64
 18  area_counts_sum            5834 non-null   int64
 19  ave_annual_hours           5834 non-null   float64
 20  max_kwh_cost               5811 non-null   float64
 21  option_id                  5829 non-null   float64
 22  solution_id                5829 non-null   float64
 23  existing_count_solutions   5829 non-null   float64
 24  created_by_user_id         5829 non-null   float64
 25  incentive_type             5829 non-null   float64
 26  product_count              5829 non-null   float64
 27  existing_lighting_id       5829 non-null   float64
 28  proposal_options_id        5829 non-null   float64
 29  existing_count_exlight     5829 non-null   float64
 30  replacement_count          5829 non-null   float64
 31  watts_per_product          5829 non-null   float64
 32  option_calc_light_id       5829 non-null   float64
 33  existing_quantity          5829 non-null   float64
 34  proposed_quantity          5829 non-null   float64
 35  total_watts_per_product    5829 non-null   float64
 36  existing_lighting_count    5829 non-null   float64
dtypes: float64(32), int64(5)
memory usage: 1.7 MB

In [32]:
df_final.shape

(5834, 37)

In [33]:
df_final.nunique()

project_id                   5834
sqft                          156
avg_illuminace                 46
area_count                    436
code                          712
location_id                   674
company_id                   2378
company_project_status_id    3180
facility_type_id              880
tax_rate_source               437
shipping_address_location     388
operating_id                 5703
annual_hours                 2949
rate_schedule_id             5544
kwh_cost                     2095
demand_utilization            438
rate_customer                  26
area_counts                   436
area_counts_sum              5817
ave_annual_hours             1675
max_kwh_cost                  522
option_id                    5601
solution_id                  5712
existing_count_solutions      283
created_by_user_id           2494
incentive_type                363
product_count                 295
existing_lighting_id         3534
proposal_options_id          5618
existing_count_exlight        564
replacement_count            1630
watts_per_product            2509
option_calc_light_id         3977
existing_quantity            1066
proposed_quantity            1164
total_watts_per_product      2509
existing_lighting_count       156
dtype: int64

In [29]:
p_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12729 entries, 0 to 12728
Data columns (total 38 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   project_id                 12729 non-null  int64
 1   option_id                  12375 non-null  float64
 2   option_calculation_id      6222 non-null   float64
 3   company_id                 12729 non-null  int64
 4   projects_name              12729 non-null  object
 5   facility_type_id           6139 non-null   float64
 6   facility_type              6139 non-null   object
 7   tax_rate_source            12687 non-null  float64
 8   finance_discount_rate      12729 non-null  int64
 9   tax_exempt                 12723 non-null  object
 10  active                     12729 non-null  bool
 11  area_count                 12729 non-null  int64
 12  area_count_sum             12727 non-null  float64
 13  ave_annual_hours           11517 non-null  float64
 14  monday_ave_daily_hours     11967 non-null  float64
 15  tuesday_ave_daily_hours    11967 non-null  float64
 16  wednesday_ave_daily_hours  11967 non-null  float64
 17  thursday_ave_daily_hours   11961 non-null  float64
 18  friday_ave_daily_hours     11961 non-null  float64
 19  saturday_ave_daily_hours   11967 non-null  float64
 20  sunday_ave_daily_hours     11967 non-null  float64
 21  ave_weeks_per_year         11967 non-null  float64
 22  hour_type                  12219 non-null  float64
 23  max_kwh_cost               11813 non-null  float64
 24  max_kwh_cost_simple        195 non-null    float64
 25  existing_lighting_count    12729 non-null  int64
 26  total_watts_per_product    12530 non-null  float64
 27  ave_lm70                   12530 non-null  float64
 28  total_solution_count       12729 non-null  int64
 29  total_existing_quantity    6222 non-null   float64
 30  total_proposed_quantity    6222 non-null   float64
 31  total_replacement_count    9805 non-null   float64
 32  total_fixture_watts        9805 non-null   float64
 33  total_fixture_watt_hours   9805 non-null   float64
 34  total_fixture_life_years   9805 non-null   float64
 35  total_item_watts           9805 non-null   float64
 36  sol_total_existing_count   12729 non-null  int64
 37  total_product_count        12729 non-null  int64
dtypes: bool(1), float64(26), int64(8), object(3)
memory usage: 3.6+ MB

In [35]:
p_final.shape

(12729, 38)

In [36]:
p_final.nunique()

project_id                   6381
option_id                    9194
option_calculation_id        6219
company_id                    325
projects_name                6269
facility_type_id               60
facility_type                  60
tax_rate_source                 2
finance_discount_rate           1
tax_exempt                      2
active                          2
area_count                     94
area_count_sum                839
ave_annual_hours             1536
monday_ave_daily_hours        111
tuesday_ave_daily_hours       109
wednesday_ave_daily_hours     107
thursday_ave_daily_hours      110
friday_ave_daily_hours        111
saturday_ave_daily_hours       89
sunday_ave_daily_hours         73
ave_weeks_per_year             99
hour_type                       2
max_kwh_cost                  523
max_kwh_cost_simple            31
existing_lighting_count        94
total_watts_per_product      7534
ave_lm70                     1284
total_solution_count           94
total_existing_quantity      1893
total_proposed_quantity      2002
total_replacement_count      1579
total_fixture_watts          2708
total_fixture_watt_hours     7610
total_fixture_life_years     5032
total_item_watts             6086
sol_total_existing_count      395
total_product_count           424
dtype: int64