Find missing values in tables

In [6]:
import pandas as pd

In [64]:
column_name = ' '  # write the colum name

dframe = dframe.sort_values(column_name)

index = 0    # write required index of missing value after sorting


dframe

In [58]:
def interpolation(dframe,col1,col2, index):
  if index == 0:
    pass
  

  elif index == len(dframe - 1):
    pass

  
  else:
    y2  = col2[index +1]
    y1  = col2[index -1]
    
    x2 = col1[index +1]
    x1 = col1[index -1 ]
    
    xm = col1[index]
    

    y_diff = y2 - y1
    x_diff = x2 - x1 
    x_req_diff = x2 - xm

    ym = y2 - (y_diff * x_req_diff) / x_diff
    
    print(y2,y1,x2,x1,ym,xm)

    return ym

In [9]:
values = [{'a': 1, 'b': 5},
          {'a': 2, 'b': 10},
          {'a': 3},
          {'a': 4, 'b': 20}]

my_df = pd.DataFrame(values)
my_df

   a     b
0  1   5.0
1  2  10.0
2  3   NaN
3  4  20.0

In [55]:
column_name = 'b'  # write the colum name

my_df = my_df.sort_values(column_name)

index =  2 # write required index of missing value after sorting

row_index = 2 # write required value of row

In [63]:
req_value = interpolation(my_df,my_df['a'],my_df['b'], index)

20.0 10.0 4 2 15.0 3

In [62]:
req_value

15.0