In [32]:
# import library
import pandas as pd

In [33]:
# read data as csv file
df = pd.read_csv('SI2017V11.csv')

C:\Users\Dell\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (19,20,22,24,64,65,80) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [34]:
# check the first few records in data
df.head()

,Borough,Block,Lot,CD,CT2010,CB2010,SchoolDist,Council,ZipCode,FireComp,...,ZMCode,Sanborn,TaxMap,EDesigNum,APPBBL,APPDate,PLUTOMapID,FIRM07_FLAG,PFIRM15_FLAG,Version
0,SI,135,23,501,67.0,2005.0,31.0,49.0,10301.0,E156,...,NaN,501 086,50103.0,NaN,0.0,NaN,1,NaN,NaN,17v1.1
1,SI,135,25,501,67.0,2005.0,31.0,49.0,10301.0,E156,...,NaN,501 086,50103.0,NaN,0.0,NaN,1,NaN,NaN,17v1.1
2,SI,135,28,501,67.0,2005.0,31.0,49.0,10301.0,E156,...,NaN,501 086,50103.0,NaN,0.0,NaN,1,NaN,NaN,17v1.1
3,SI,135,29,501,67.0,2005.0,31.0,49.0,10301.0,E156,...,NaN,501 086,50103.0,NaN,0.0,NaN,1,NaN,NaN,17v1.1
4,SI,135,33,501,67.0,2005.0,31.0,49.0,10301.0,E156,...,NaN,501 086,50103.0,NaN,0.0,NaN,1,NaN,NaN,17v1.1

In [35]:
# descriptive statistics
df.describe()

,Block,Lot,CD,CT2010,CB2010,SchoolDist,Council,ZipCode,PolicePrct,HealthCenterDistrict,...,BBL,CondoNo,Tract2010,XCoord,YCoord,TaxMap,APPBBL,PLUTOMapID,FIRM07_FLAG,PFIRM15_FLAG
count,124240.000000,124240.000000,124240.000000,122411.000000,116572.000000,122740.0,122705.000000,122329.000000,122682.000000,122744.0,...,1.242400e+05,124240.000000,124240.000000,115987.000000,115987.00000,123962.000000,1.242140e+05,124240.000000,9331.0,13403.0
mean,3442.615229,92.545807,502.119615,161.338820,2116.130340,31.0,50.100925,10308.064727,121.624949,51.0,...,5.034426e+09,0.174501,10104.474944,945106.154129,151858.03584,51469.768090,1.233521e+09,1.003131,1.0,1.0
std,2396.029365,318.810399,1.905087,84.446035,1098.960674,0.0,0.792794,4.108821,1.062775,0.0,...,2.396028e+07,7.094482,10156.877708,12331.555843,13514.40822,1128.769028,2.167106e+09,0.066036,0.0,0.0
min,1.000000,1.000000,501.000000,3.000000,1.000000,31.0,49.000000,10301.000000,120.000000,51.0,...,5.000010e+09,0.000000,0.000000,913123.000000,120308.00000,5.000000,0.000000e+00,1.000000,1.0,1.0
25%,1059.000000,22.000000,501.000000,121.000000,1011.000000,31.0,49.000000,10305.000000,121.000000,51.0,...,5.010590e+09,0.000000,147.000000,937846.000000,140600.50000,50501.000000,0.000000e+00,1.000000,1.0,1.0
50%,3337.000000,49.000000,502.000000,169.010000,2005.000000,31.0,50.000000,10308.000000,122.000000,51.0,...,5.033370e+09,0.000000,11202.000000,945601.000000,153322.00000,51501.000000,0.000000e+00,1.000000,1.0,1.0
75%,5487.000000,97.000000,503.000000,208.030000,3003.000000,31.0,51.000000,10312.000000,122.000000,51.0,...,5.054870e+09,0.000000,17010.000000,955024.000000,163591.50000,52401.000000,0.000000e+00,1.000000,1.0,1.0
max,8050.000000,9018.000000,595.000000,9901.000000,7007.000000,31.0,51.000000,10314.000000,123.000000,51.0,...,5.080500e+09,1918.000000,31902.000000,970140.000000,175558.00000,53203.000000,5.080480e+09,4.000000,1.0,1.0

In [36]:
# the number of rows and columns
df.columns

Index(['Borough', 'Block', 'Lot', 'CD', 'CT2010', 'CB2010', 'SchoolDist',
       'Council', 'ZipCode', 'FireComp', 'PolicePrct', 'HealthCenterDistrict',
       'HealthArea', 'SanitBoro', 'SanitDistrict', 'SanitSub', 'Address',
       'ZoneDist1', 'ZoneDist2', 'ZoneDist3', 'ZoneDist4', 'Overlay1',
       'Overlay2', 'SPDist1', 'SPDist2', 'SPDist3', 'LtdHeight', 'SplitZone',
       'BldgClass', 'LandUse', 'Easements', 'OwnerType', 'OwnerName',
       'LotArea', 'BldgArea', 'ComArea', 'ResArea', 'OfficeArea', 'RetailArea',
       'GarageArea', 'StrgeArea', 'FactryArea', 'OtherArea', 'AreaSource',
       'NumBldgs', 'NumFloors', 'UnitsRes', 'UnitsTotal', 'LotFront',
       'LotDepth', 'BldgFront', 'BldgDepth', 'Ext', 'ProxCode', 'IrrLotCode',
       'LotType', 'BsmtCode', 'AssessLand', 'AssessTot', 'ExemptLand',
       'ExemptTot', 'YearBuilt', 'YearAlter1', 'YearAlter2', 'HistDist',
       'Landmark', 'BuiltFAR', 'ResidFAR', 'CommFAR', 'FacilFAR', 'BoroCode',
       'BBL', 'CondoNo', 'Tract2010', 'XCoord', 'YCoord', 'ZoneMap', 'ZMCode',
       'Sanborn', 'TaxMap', 'EDesigNum', 'APPBBL', 'APPDate', 'PLUTOMapID',
       'FIRM07_FLAG', 'PFIRM15_FLAG', 'Version'],
      dtype='object')

In [38]:
# list the features to be dropped
cols_drop = ['Borough', 'Block', 'Lot', 'CD', 'CT2010', 'CB2010', 'SchoolDist',
       'Council', 'FireComp', 'PolicePrct', 'HealthArea', 'HealthCenterDistrict',
       'SanitBoro', 'SanitDistrict', 'SanitSub', 'ZoneDist1',
       'ZoneDist2', 'ZoneDist3', 'ZoneDist4', 'Overlay1', 'Overlay2',
       'SPDist1', 'SPDist2', 'SPDist3', 'LtdHeight', 'SplitZone',
        'Easements', 'OwnerType', 'LotFront', 'LotDepth', 'ResArea', 'FactryArea', 'OtherArea', 'AreaSource',
       'NumBldgs','BldgFront', 'BldgDepth', 'Ext', 'ProxCode', 'IrrLotCode', 'LotType',
       'BsmtCode', 'AssessLand', 'AssessTot', 'ExemptLand', 'ExemptTot', 'YearAlter1', 'YearAlter2', 'HistDist', 'Landmark', 'ResidFAR', 'FacilFAR', 'BoroCode', 'BBL','CondoNo', 'Tract2010', 'ZoneMap', 'ZMCode', 'Sanborn', 'TaxMap', 'EDesigNum', 'APPBBL', 'APPDate', 'PLUTOMapID', 'FIRM07_FLAG', 'PFIRM15_FLAG', 'Version']


# Drop columns
df.drop(cols_drop, axis = 1, inplace = True)
df.shape

(124240, 20)

In [42]:
# Check updated columns
df.columns

Index(['ZipCode', 'Address', 'BldgClass', 'LandUse', 'OwnerName', 'LotArea',
       'BldgArea', 'ComArea', 'OfficeArea', 'RetailArea', 'GarageArea',
       'StrgeArea', 'NumFloors', 'UnitsRes', 'UnitsTotal', 'YearBuilt',
       'BuiltFAR', 'CommFAR', 'XCoord', 'YCoord'],
      dtype='object')

In [43]:
# # Check updated dataframe
df.head()

,ZipCode,Address,BldgClass,LandUse,OwnerName,LotArea,BldgArea,ComArea,OfficeArea,RetailArea,GarageArea,StrgeArea,NumFloors,UnitsRes,UnitsTotal,YearBuilt,BuiltFAR,CommFAR,XCoord,YCoord
0,10301.0,449 HOYT AVENUE,B2,1.0,PETER J O'CONNOR,3465,2376,0,0,0,0,0,2.5,2,2,1925,0.69,0.0,955204.0,169500.0
1,10301.0,447 HOYT AVENUE,B2,1.0,"SPINELLI, DANA",3465,2376,0,0,0,0,0,2.5,2,2,1925,0.69,0.0,955199.0,169534.0
2,10301.0,445 HOYT AVENUE,B2,1.0,ERNEST SELLITTO,3465,2376,0,0,0,0,0,2.5,2,2,1925,0.69,0.0,955194.0,169567.0
3,10301.0,480 KISSEL AVENUE,A1,1.0,RYSZARD BILSKI,2625,1560,0,0,0,0,0,2.5,1,1,1920,0.59,0.0,955298.0,169588.0
4,10301.0,482 KISSEL AVENUE,A1,1.0,CARL M MARRETTA,2625,1280,0,0,0,0,0,2.5,1,1,1920,0.49,0.0,955302.0,169562.0

In [45]:
# check for % of null values in column
df.isnull().sum()/len(df)*100

ZipCode       1.538152
Address       0.030586
BldgClass     0.020927
LandUse       0.204443
OwnerName     0.651964
LotArea       0.000000
BldgArea      0.000000
ComArea       0.000000
OfficeArea    0.000000
RetailArea    0.000000
GarageArea    0.000000
StrgeArea     0.000000
NumFloors     0.000000
UnitsRes      0.000000
UnitsTotal    0.000000
YearBuilt     0.000000
BuiltFAR      0.000000
CommFAR       0.000000
XCoord        6.642788
YCoord        6.642788
dtype: float64

In [46]:
# export the dataframe in csv format
df.to_csv('SI2018_clean.csv', sep = '\t', encoding = 'utf-8')